In [ ]:
import numpy as np
import pandas as pd 
import itertools
import xlrd # !pip install xlrd==1.2.0
import functools
import re
import random
import os
import requests
import shutil

from collections import Counter, defaultdict

In [ ]:
os.chdir('/content/drive/MyDrive/Free time (Aaron Presser): Poverty prediction project (02 14 2022)/')

In [ ]:
def csv_reader(data_path):
  data_csv = pd.read_csv(data_path)
  data_df = pd.DataFrame(data_csv)
  return data_df

In [ ]:
def get_df_name(df):
  name =[x for x in globals() if globals()[x] is df][0]
  return name

def write_csv(df):
  os.makedirs('Output_csv_files', exist_ok=True)
  name = get_df_name(df)
  df.to_csv(f"Output_csv_files/{name}.csv")
  print("Created file: \"{}.csv\"".format(name))
  return print("Succsess!")

In [ ]:
pd.read_csv('https://query.data.world/s/e3inb7voipg5l7be5csremp2py3xwv')

         ZIP  STCOUNTYFP           CITY STATE         COUNTYNAME CLASSFP
0      36091        1001        Verbena    AL     Autauga County      H1
1      36758        1001  Plantersville    AL     Autauga County      H1
2      36006        1001    Billingsley    AL     Autauga County      H1
3      36067        1001     Prattville    AL     Autauga County      H1
4      36701        1001          Selma    AL     Autauga County      H1
...      ...         ...            ...   ...                ...     ...
53957    820       78010  Christiansted    VI   St. Croix Island      H4
53958    840       78010   Frederiksted    VI   St. Croix Island      H4
53959    850       78010      Kingshill    VI   St. Croix Island      H4
53960    830       78020        St john    VI    St. John Island      H4
53961    802       78030      St thomas    VI  St. Thomas Island      H4

[53962 rows x 6 columns]

In [ ]:
walmart_path = 'Outside_data/Walmart_United_States_&_Canada.csv'
walmart_csv = pd.read_csv(walmart_path, encoding='latin-1')
walmart_df_raw = pd.DataFrame(walmart_csv)
walmart_df_raw

,-114.005671,51.262567,"Walmart SC; #1050,","Gas,2881 Main St SW, Airdrie, AB,T4B 3G5"
0,-111.900542,50.577939,"Walmart; #3658,","917 3rd St W, Brooks, AB,T1R 1L5"
1,-114.062149,50.900758,"Walmart SC; #3151,","Gas,100 - 310 Shawville Blvd, SE, Calgary, AB,..."
2,-114.039133,51.107253,"Walmart SC; #3013,","1110 57th Ave NE, Calgary, AB,T2E 9B7"
3,-114.138488,51.040871,"Walmart; #3009,","Gas,1212 37 St SW, Calgary, AB,T3C 1S3"
4,-113.911590,51.040090,"Walmart SC; #1136,","255 E Hills Blvd, Calgary, AB,T2A 4X7"
...,...,...,...,...
7148,-107.209281,41.792084,"Walmart SC; #4471,","Gas,2390 E Cedar St; I-80 Exit 214, Rawlins, W..."
7149,-108.379227,43.042858,"Walmart SC; #1457,","1733 N Federal Blvd, Riverton, WY,82501"
7150,-109.251020,41.579761,"Walmart SC; #1461,","201 Gateway Blvd; I-80 Exit 102, Rock Springs,..."
7151,-106.940967,44.779474,"Walmart SC; #1508,","1695 Coffeen Ave; I-90 Exit 25, Sheridan, WY,8..."
7152,-135.069300,60.733253,"Walmart; #3191,","9021 Quartz Rd, Whitehorse, YT,Y1A 4P9"

In [ ]:
# real_colnames = ['Latitude', 'Longitude', 'Location', 'Address']
real_colarrays = []
for col in walmart_df_raw.columns:
  col_asarray = walmart_df_raw[col].to_numpy()
  real_colarrays.append(col_asarray)

In [ ]:
data_dict = {'Latitude': real_colarrays[0], 'Longitude': real_colarrays[1], 'Location': real_colarrays[2], 'Address': real_colarrays[3]}
walmart_df = pd.DataFrame(data_dict)
walmart_df.sample(n=20, axis=0)

,Latitude,Longitude,Location,Address
4185,-55.651622,48.947507,"Walmart; #3036,","19 Cromer Ave, Grand Falls-Windsor, NL,A2A 1X3"
6348,-96.683620,33.159065,"Murphy USA; #7039,","Gas/Diesel,5251 McKinney Ranch Pkwy, McKinney,..."
4926,-79.484682,44.066859,"Walmart SC; #3062,","17940 Yonge St, Newmarket, ON,L3Y 8S4"
7,-113.966699,50.930235,"Walmart SC; #3650,","4705 130th Ave SE, Calgary, AB,T2Z 4J2"
1727,-84.203576,30.886492,"Walmart SC; #0858,","Gas/Diesel,361 8th Ave NE, Cairo, GA,39828"
3631,-89.031514,34.493501,"Walmart SC; #0153,","Gas/Diesel,202 Park Plaza Dr; I-22 Exit 61, Ne..."
4079,-103.677246,41.879671,"Walmart SC; #0867,","Gas,3322 Ave I, Scottsbluff, NE,69361"
4568,-84.317487,39.311474,"Walmart SC; #1441,","5303 Bowen Dr; I-71 Exit 19, Mason, OH,45040"
5098,-77.203651,39.843928,"Walmart; #1537,","1270 York Rd, Gettysburg, PA,17325"
1750,-84.947796,32.541855,"Sam's Club; #8213,","Gas/Diesel,5448 A Whittlesey Blvd, Columbus, G..."
753,-119.803447,36.838467,"Walmart SC; #2985,","7065 N Ingram Ave, Fresno, CA,93650"
1912,-81.174327,31.981284,"Walmart SC; #4556,","Gas/Diesel,14030 Abercorn St, Savannah, GA,31419"
6233,-97.287037,32.893367,"Murphy USA; #7066,","Gas/Diesel,4611 N Tarrant Pkwy, Keller, TX,76244"
4479,-82.978283,39.360917,"Sam's Club; #4963,","Gas/Diesel,1270 N Bridge St, Chillcothe, OH,45601"
4613,-82.656047,41.403864,"Walmart SC; #1628,","Gas/Diesel,5500 Milan Rd, Sandusky, OH,44870"
2839,-92.140481,31.691935,"Walmart SC; #0498,","3670 W Oak St, Jena, LA,71342"
877,-121.398873,38.617419,"Wm Nbrhd Mkt; #5982,","2700 Marconi Ave, Sacramento, CA,95821"
4961,-79.295136,43.727607,"Walmart SC; #3159,","1900 Eglinton Ave E, Scarborough-West, ON,M1L 2L9"
4647,-84.136230,41.573891,"Murphy USA; #7149,","Gas/Diesel,491 Airport Hwy; I-80/90 Exit 34, W..."
6279,-102.361226,33.595338,"Walmart SC; #1051,","Gas/Diesel,407 E Hwy 114, Levelland, TX,79336"

In [ ]:
walmart_df = pd.DataFrame(data_dict)

def remove_state_abbrevs(df, foreign_states=None):
  if foreign_states == None:
    foreign_states = ['AB', 'BC', 'MB', 'NB', 'NL', 'NS', 'NT', 'ON', 'PE', 'QC', 'SK', 'YT', 'MEX']
  foreign_states_precise = [", " + i + "," for i in foreign_states]

  df = df[~df.Address.str.contains('|'.join(foreign_states_precise), regex=True)]

  df.reset_index(inplace=True, drop=True)
  return df

walmart_df = remove_state_abbrevs(walmart_df)

In [ ]:
df_cleaning.shape

(6753, 4)

In [ ]:
address_lengths = []
addresses = walmart_df['Address']
for address in addresses:
  iter = address.split(',')
  address_lengths.append(len(iter))

print("The maximum length of the strings in the Address column is {}".format(np.array(address_lengths).max()))
print("The minimum length of the strings in the Address column is {}".format(np.array(address_lengths).min()))

The maximum length of the strings in the Address column is 6
The minimum length of the strings in the Address column is 3

In [ ]:
for address in addresses:
  iter = address.split(',')
  if (len(iter) == 3): print(iter)

['3850 Sheppard Ave E', ' Scarborough ON', 'M1T 3L4']

In [ ]:
for address in addresses:
  iter = address.split(',')
  if (len(iter) == 3): walmart_df.drop([True for iter in walmart_df if (len(iter) == 3)])

row_lengths = []
for address in addresses:
  iter = address.split(',')
  row_lengths.append(len(iter))

print("The maximum length of the strings in the Address column is {}".format(np.array(row_lengths).max()))
print("The minimum length of the strings in the Address column is {}".format(np.array(row_lengths).min()))

The maximum length of the strings in the Address column is 6
The minimum length of the strings in the Address column is 3

In [ ]:
addresses = walmart_df['Address']

first_segments = [] ; zipcode_segments = []
for address in addresses:
  iter = address.split(',')
  first_segments.append(iter[0])
  zipcode_segments.append(iter[-1])

car_juice = ['1' if re.match('Gas', x) else '0' for x in first_segments]
zip_codes = [x if re.match(r'(\d+){5}', x) else '' for x in zipcode_segments]

walmart_df['Car Juice'] = car_juice
walmart_df['Zip Code'] = zip_codes

walmart_df.head(20)

,Latitude,Longitude,Location,Address,Car Juice,Zip Code
0,-149.881507,61.192165,"Walmart SC; #2070,","3101 A St, Anchorage, AK,99503",0,99503
1,-149.742550,61.212740,"Walmart SC; #4359,","7405 Debarr Rd, Anchorage, AK,99504",0,99504
2,-149.868161,61.140234,"Walmart SC; #2071,","8900 Old Seward Hwy, Anchorage, AK,99515",0,99515
3,-149.535324,61.309780,"Walmart SC; #2188,","18600 Eagle River Rd, Eagle River, AK,99577",0,99577
4,-147.688971,64.857356,"Walmart SC; #2722,","537 Johansen Expy, Fairbanks, AK,99701",0,99701
5,-151.226631,60.564167,"Walmart SC; #4474,","10096 Kenai Spur, Kenai, AK,99611",0,99611
6,-131.720364,55.376113,"Walmart; #2710,","4230 Don King Rd, Ketchikan, AK,99901",0,99901
7,-152.364450,57.811389,"Walmart; #2711,","2911 Mill Bay Rd, Kodiak, AK,99615",0,99615
8,-149.362998,61.568711,"Walmart SC; #2074,","1350 S Seward Meridian Pkwy, Wasilla, AK,99654",0,99654
9,-86.924324,33.580015,"Walmart SC; #1158,","2473 Hackworth Rd, Adamsville, AL,35214",0,35214
10,-95.592542,30.015128,"Murphy USA; #7687,","Gas/Diesel,560 Colonial Promenade Pkwy; I-65 E...",1,35007
11,-86.802360,33.235791,"Walmart SC; #0423,","Gas/Diesel,630 Colonial Promenade Pkwy; I-65 E...",1,35007
12,-86.828684,33.211457,"Wm Nbrhd Mkt; #4756,","Gas,9085 Hwy 119; I 65 Exit 238, Alabaster, AL...",1,35007
13,-85.978357,32.939678,"Murphy USA; #5684,","Gas,2507 Hwy 280, Alexander City, AL,35010",1,35010
14,-85.976666,32.940771,"Walmart SC; #0726,","Gas,2643 Hwy 280, Alexander City, AL,35010",1,35010
15,-86.445471,31.320815,"Walmart SC; #1091,","Gas/Diesel,1991 Dr MLK Jr Expy, Andalusia, AL,...",1,36420
16,-86.447285,31.318736,"Murphy USA; #7394,","Gas/Diesel,1997 Dr MLK Jr Expy, Andalusia, AL,...",1,36420
17,-85.819395,33.719758,"Walmart SC; #0329,","Gas,5560 McClellan Blvd, Anniston, AL,36206",1,36206
18,-85.818035,33.719203,"Murphy USA; #5624,","Gas,5564 McClellan Blvd, Anniston, AL,36206",1,36206
19,-86.500972,34.341907,"Walmart SC; #0306,","Gas/Diesel,1450 N Brindlee Mountain Pkwy, Arab...",1,35016

In [ ]:
write_csv(walmart_df)

Created file: "walmart_df.csv"
Suck-sess!

In [ ]:
### End of Walmart dataframe cleaning

In [ ]:
fastfood_df_raw = csv_reader('Outside_data/Datafiniti_Fast_Food_Restaurants_May19.csv')

In [ ]:
# Delete
fastfood_dict = {k: v for k, v in sorted(Counter(fastfood_df_raw['name']).items(), key=lambda item: item[1], reverse=True)}
fastfood_dict

{"McDonald's": 765,
 'Subway': 667,
 'SUBWAY': 543,
 'Taco Bell': 529,
 'Pizza Hut': 474,
 'Burger King': 446,
 'KFC': 376,
 'Dairy Queen': 251,
 "Wendy's": 245,
 "Domino's Pizza": 227,
 'Sonic Drive-In': 223,
 "Arby's": 219,
 'McDonalds': 151,
 'Panera Bread': 140,
 'Chipotle Mexican Grill': 139,
 "Jimmy John's": 123,
 'Jack in the Box': 120,
 "Hardee's": 116,
 'Panda Express': 107,
 'Waffle House': 103,
 'Chick-fil-A': 77,
 'Chick-Fil-A': 76,
 "Moe's Southwest Grill": 73,
 "Jersey Mike's Subs": 69,
 'Wendys': 67,
 'Kfc': 57,
 'Popeyes Louisiana Kitchen': 52,
 "Steak 'n Shake": 51,
 "Church's Chicken": 51,
 'Quiznos': 48,
 'SONIC Drive-In': 48,
 'SONIC Drive In': 45,
 'Dominos Pizza': 43,
 'Five Guys Burgers Fries': 41,
 'Dairy Queen Grill Chill': 40,
 'Checkers': 40,
 'Taco Time': 39,
 'Krispy Krunchy Chicken': 39,
 'Whataburger': 38,
 'Firehouse Subs': 38,
 'QDOBA Mexican Eats': 36,
 "Long John Silver's": 35,
 "Culver's": 35,
 'Bob Evans': 35,
 "Bojangles' Famous Chicken 'n Biscuits": 33,
 'Del Taco': 30,
 'Arbys': 30,
 'Jimmy Johns': 30,
 "Jack's": 29,
 "Carl's Jr.": 28,
 'White Castle': 28,
 'Krystal': 27,
 "Fox's Pizza Den": 26,
 "Popeye's Louisiana Kitchen": 26,
 "Jack's Family Restaurants": 25,
 'Dairy Queen Grill & Chill': 25,
 'Orange Julius': 24,
 'Dunkin Donuts': 24,
 'Sbarro': 23,
 "Taco John's": 22,
 'Hardees': 22,
 'Five Guys': 21,
 'ChickfilA': 21,
 'AW All-American Food': 20,
 "Charley's Grilled Subs": 19,
 'Boston Market': 19,
 "Dunkin' Donuts": 19,
 "McAlister's Deli": 18,
 'Round Table Pizza': 18,
 'Cook Out': 18,
 'AW Restaurants': 18,
 "Rally's": 17,
 'BLIMPIE': 17,
 "Carl's Jr": 17,
 'Pizza Pro': 15,
 'El Pollo Loco': 15,
 'Wienerschnitzel': 15,
 'Pollo Tropical': 15,
 "Captain D's Seafood Kitchen": 14,
 'Taco Johns': 14,
 'Cook-Out': 13,
 "Jason's Deli": 13,
 "McDonald's - CLOSED": 13,
 'In-N-Out Burger': 13,
 'Penn Station East Coast Subs': 13,
 'Wingstop Restaurant': 13,
 'Mellow Mushroom': 12,
 'Little Caesars Pizza': 12,
 'Churchs Chicken': 12,
 'Skyline Chili': 11,
 'Blimpie': 11,
 "Mcalister's Deli": 10,
 'Carls Jr': 10,
 'Bojangles Famous Chicken n Biscuits': 10,
 'Golden Chick': 9,
 'Big Boy': 9,
 'Rallys': 9,
 'Krispy Kreme': 8,
 "Famous Dave's": 8,
 "Simple Simon's Pizza": 8,
 'Red Robin Gourmet Burgers and Brews': 8,
 'Five Guys Burgers & Fries': 8,
 'Which Wich': 7,
 "Auntie Anne's Soft Pretzels": 7,
 "Freddy's Frozen Custard Steakburgers": 7,
 "Papa John's Pizza": 7,
 'Gold Star Chili': 7,
 'Papa Johns Pizza': 7,
 'Hardees Red Burrito': 7,
 'Wings To Go': 6,
 'Taco Bueno': 6,
 "Popeye's Chicken & Biscuits": 6,
 "Fazoli's": 6,
 "Zaxby's": 6,
 'Captain Ds': 6,
 'Sonic DriveIn': 6,
 'Jasons Deli': 6,
 'Big Boys': 5,
 "Jerry's Subs and Pizza": 5,
 'Potbelly Sandwich Works': 5,
 'Burger King - Temporarily Closed': 5,
 'Sarku Japan': 5,
 'Old Country Buffet': 5,
 'Taco Del Mar': 5,
 'Dairy Queen (Treat)': 5,
 'Wing Street': 5,
 'Taco Cabana': 5,
 "Frisch's Big Boy": 5,
 'Wingstop': 5,
 'Bob Evans Restaurant': 5,
 'Tropical Smoothie Cafe': 5,
 'Sonic Drive-In - Temporarily Closed': 5,
 'Steak n Shake': 5,
 'Port of Subs': 4,
 'Big Apple Bagels': 4,
 'Manchu Wok': 4,
 "Mc Donald's": 4,
 "Captain D's Seafood": 4,
 "Lee's Famous Recipe Chicken": 4,
 'Tastee Freez': 4,
 'Pollo Campero': 4,
 'Red Robin Gourmet Burgers': 4,
 "Abby's Legendary Pizza": 4,
 'BaskinRobbins': 4,
 'Mr Hero': 4,
 'Hot Dog on a Stick': 4,
 'Long John Silvers': 4,
 'Carls Jr Green Burrito': 4,
 'Sonic': 4,
 'Foxs Pizza Den': 4,
 'KFC - Kentucky Fried Chicken': 4,
 'Kentucky Fried Chicken': 4,
 'Einstein Bros Bagels': 4,
 'Culvers': 4,
 'Moes Southwest Grill': 4,
 "Nathan's Famous Hot Dogs": 3,
 'Shake Shack': 3,
 'Steak Escape': 3,
 'Maid-Rite': 3,
 'Taqueria': 3,
 'TacoTime': 3,
 'Great Steak': 3,
 'BurgerFi': 3,
 'DQ Grill Chill': 3,
 'Dairy Queen-Russo': 3,
 'Seminole Subs Gyros': 3,
 "Bob's Burgers Brew": 3,
 'Pick Up Stix': 3,
 'Mooyah': 3,
 'Chicken Express': 3,
 'Jamba Juice': 3,
 "Bellacino's": 3,
 "Bud's Chicken & Seafood": 3,
 "Teddy's Bigger Burgers": 3,
 "Joe's Burgers": 3,
 'China House': 3,
 'Taco Mayo': 3,
 'Burgerfi': 3,
 'Bad Daddys Burger Bar': 3,
 "Raising Cane's Chicken Fingers": 3,
 'McAlisters Deli': 3,
 'Fazolis': 3,
 'Cinco de Mayo': 3,
 'Jersey Mikes Subs': 3,
 'Fatburger': 3,
 'Back Yard Burgers': 3,
 'Quiznos Sub': 3,
 'Tim Hortons': 3,
 "Hardee's/Red Burrito": 3,
 'Popeyes Chicken and Biscuits': 3,
 'Popeyes': 3,
 'Subway Sandwiches': 3,
 'Burgerville': 3,
 'Ryans': 3,
 'Chipotle': 3,
 'Cousins Subs': 3,
 "Grandy's": 3,
 'Charleys Philly Steaks': 3,
 'Bates House Of Turkey Inc': 2,
 'Full Moon Bar-B-Que': 2,
 "Andy's Frozen Custard": 2,
 "Evangelo's Restaurant": 2,
 "Togo's Eatery": 2,
 'Golden China Restaurant': 2,
 'Maple Street Bistro': 2,
 'Cafe Rio': 2,
 'Puffy Muffin': 2,
 'Hooters': 2,
 'Ichiban Japanese Steakhouse': 2,
 'Souvlaki': 2,
 "Fery's Catering": 2,
 'Golden Teriyaki': 2,
 "Luigi's Italian Restaurant": 2,
 "Ben's Soft Pretzels": 2,
 'Noodles Company': 2,
 "Foster's Grille": 2,
 'China Jade': 2,
 'Mediterrano Cafe': 2,
 'Twenty-Four Carrot Cuisine': 2,
 'Bru Burger Bar': 2,
 "Teddy's Burger Joint": 2,
 'Yen Ching Restaurant': 2,
 'Tatanka Take-Out': 2,
 'Tokyo Seoul': 2,
 'Burger Ranch': 2,
 "Bennidito's Pizza": 2,
 'Pizza Pipeline': 2,
 'KFC Kentucky Fried Chicken': 2,
 'Restaurant': 2,
 'Starbucks': 2,
 'Taco CASA': 2,
 'Kolache Factory': 2,
 'Louisiana Fried Chicken': 2,
 'Panda Chinese Restaurant': 2,
 "Lion's Choice": 2,
 'House Of Kobe': 2,
 'Cafe Strudel': 2,
 'Baja Fresh': 2,
 "Mojo's": 2,
 "Frisch's Big Boy Restaurant": 2,
 'Hot Head Burritos': 2,
 'China Cottage': 2,
 "Swenson's Drive In Restaurants": 2,
 'Asian Garden': 2,
 'Juicy Burger': 2,
 'Checkers Drive-In Rstrnt Inc': 2,
 'Grub Burger Bar': 2,
 "Wetzel's Pretzels": 2,
 "Cadillac Jack's Saloon Grill": 2,
 'Mr Gyros': 2,
 'Sonic Drive-In - Closed': 2,
 "D'Angelo Grilled Sandwiches": 2,
 'Taste of Buffalo Pizzeria': 2,
 'Palmetto Ale House': 2,
 "Topper's Pizza": 2,
 'China Lin': 2,
 'El Sombrero': 2,
 'Burger Hut': 2,
 'WG Grinders': 2,
 'Chicago Gyros': 2,
 "Tudor's Biscuit World": 2,
 'Touchdown Wings': 2,
 "Capriotti's Sandwich Shop": 2,
 'Taco Tontos': 2,
 'Arbys CLOSED': 2,
 'Baskin-Robbins': 2,
 "Chuck E. Cheese's": 2,
 "Braum's Ice Cream Burger Restaurant": 2,
 'China Bell Restaurant': 2,
 "Rockne's": 2,
 'Pilchuck Drive In': 2,
 'Aw Restaurants': 2,
 "Bob's Dogs": 2,
 'Pei Wei': 2,
 'Einstein Bros. Bagels': 2,
 'I Love Country Cafe': 2,
 'Fosters Freeze': 2,
 'EuroGyro': 2,
 'House of Lee': 2,
 'Freddys Frozen Custard Steakburgers': 2,
 'CookOut': 2,
 "Pal's Sudden Service": 2,
 'InNOut Burger': 2,
 'Burger King®': 2,
 "Hamburger Mary's": 2,
 'Qdoba Mexican Eats': 2,
 'Runza': 2,
 'AW': 2,
 'Chronic Tacos': 2,
 'Cafe Yumm': 2,
 'Next Level Burger': 2,
 'Nakato Japanese Steakhouse': 2,
 'Roly Poly': 2,
 'Rustic Cafe': 2,
 'Edo Japanese Restaurant': 2,
 "Blake's Lotaburger": 2,
 'El Coronel': 2,
 'El Tepeyac Grille': 2,
 "Snoopy's Hot Dogs": 2,
 'Fit Body Bistro': 2,
 'Boddie-Noell Enterprises': 2,
 "Burky's Grill": 2,
 'Wild Sage American Bistro': 2,
 "Church's Chicken Of Birmingham": 2,
 "Brown's Chicken": 2,
 'Shondiz': 1,
 'Shelikof Lodge Restaurant': 1,
 'Pizza Mill': 1,
 'Sweet Pink Pepper': 1,
 "Moy's Dynasty Restaurant": 1,
 "Kretch's Restaurant": 1,
 'Bangkok Thai Cuisine': 1,
 'Dreamland Bar B Que': 1,
 "Alfonso's Pizza Italian Restaurant": 1,
 'Guthries': 1,
 'Ak Buffet': 1,
 'Wok N Roll': 1,
 "Milo's Hamburgers": 1,
 "Guthrie's": 1,
 'Terrys Pizza': 1,
 'Rolands Cajun Catering': 1,
 'Fat Wong Chinese Food To Go': 1,
 "Sol's Sandwich Shop and Deli": 1,
 "Fisherman's Cove": 1,
 "Tonelli's Takeout": 1,
 'Manhattan Subs & Gyros': 1,
 'Dragon China': 1,
 "Charlene's Kitchen": 1,
 'California Tortilla': 1,
 'We The Pizza Crystal City': 1,
 "Mountain Mike's Pizza": 1,
 'Flame Broiler': 1,
 '900 Degrees Pizza': 1,
 'Sunwest Burgers': 1,
 'Chinese Thai To Go': 1,
 "Baba's Burgers & Gyros": 1,
 'Los Taquitos': 1,
 'Surfside Burger Shack': 1,
 'Great Wall Chinese Restaurant': 1,
 'Jon Smith Subs': 1,
 'Yummy Chinese Restaurant': 1,
 "Guppy's On The Go Carryout Pizza": 1,
 'Perkins Restaurant & Bakery': 1,
 'Carlos Quesadillas': 1,
 'Hip Hop Fish & Chicken': 1,
 'Gyro Hut': 1,
 'Arctic Circle': 1,
 'Burger Belly': 1,
 'Mustard Seed': 1,
 "Lenny's American Italian Fine Cuisine": 1,
 'Tropics Bar & Grill': 1,
 'Four-Ten Drive-In': 1,
 'Roosters Waterfront Restaurant': 1,
 'Roosters Landing': 1,
 'Lucky Palace Chinese Restaurant': 1,
 'Rogers Ice Cream and Burger': 1,
 'Scratchcdacom Company': 1,
 'Old Peking Restaurant': 1,
 "Richard's Pizza": 1,
 "Freddie's": 1,
 'Kafein Coffee': 1,
 'Zaks Shack Grill Deli Takeout': 1,
 "Mike's Drive-Up": 1,
 'Magic Foods': 1,
 'Foons Take Out Chinese Restaurant': 1,
 'Redrum Burger': 1,
 "Jerry's Subs & Pizza": 1,
 "Steve's Hot Dogs Tower Grove": 1,
 "Johnny's Bar Grill": 1,
 "J C Zip's Inc": 1,
 'Country Boys BBQ': 1,
 'Big Chickie': 1,
 'Gyro House': 1,
 'Syros Greek Italian Restaurant': 1,
 'Getta Gyro': 1,
 "Dimitri's Greek Italian": 1,
 "Chen's Restaurant": 1,
 "Shamus's Sandwich Shoppe": 1,
 "Big Sammy's Hot Dogs II": 1,
 'Thai Ginger-factoria': 1,
 'Kismet Restaurant': 1,
 'Tenders Inc': 1,
 'Windy City Wieners': 1,
 "Krekel's Custard": 1,
 'Epic Burger': 1,
 'Super Taco Inc': 1,
 'Taco Gringo': 1,
 'Napoleons Pizza': 1,
 "Vince's Pizza": 1,
 "Billy Jack's Burger Shack": 1,
 'Iceberg Drive Inn': 1,
 'Ciscos Taqueria': 1,
 'High Street Pizza': 1,
 'Apollo Burgers': 1,
 'Blaze Pizza': 1,
 'China King': 1,
 'Pretzel Time': 1,
 "Dominic's of New York": 1,
 "Maglio's Pizza": 1,
 "Retro's Good Eats": 1,
 'Via Veneto Italian Restaurant': 1,
 'El Charro Mexican Restaurant': 1,
 'Roanoker Restaurant Inc': 1,
 'Del Vecchios': 1,
 'Chanellos Pizza': 1,
 'Hellas Cafe': 1,
 'Sushi Boss': 1,
 'India Garden Restaurant': 1,
 'Big Boys Construction': 1,
 "George's Gyros Spot": 1,
 'Lemon Tree Mediterranean Grill': 1,
 'Order-In': 1,
 'Nikos Gyros': 1,
 'China Wok Express': 1,
 "Big Daddy's Burgers": 1,
 "Noble Roman's": 1,
 'Pizo Foz Urban Pizza Kitchen': 1,
 'RUNZA': 1,
 'Pizza Di Roma': 1,
 'Get Some Pizza': 1,
 "Cooper's Hawk Winery Restaurant": 1,
 "Mug'n Bun Drive In": 1,
 "Uncle Si's Pizza": 1,
 'Rice House Of Kabob': 1,
 'Eatin Fresh': 1,
 'Demetrios Pizza House': 1,
 'Peacock Restaurant': 1,
 'Speedy Burritos': 1,
 'Greenery Cafe': 1,
 'Cheeseburger In Paradise': 1,
 'Homegrown': 1,
 "Keoki's": 1,
 'Chun Wah Kam Noodle Factory': 1,
 "Dexter's Drive-In": 1,
 'Bethel Square Restaurant Lounge': 1,
 "Ray's Drive In Restaurant": 1,
 "Bob's Burger Brew": 1,
 'Shambala Bakery and Bistro': 1,
 'Best Burgers': 1,
 'Rock Top Burgers Brew': 1,
 'Nattamit Thai Restaurant': 1,
 "Chinook's At Salmon Bay": 1,
 'Banyans On The Ridge': 1,
 'El Rancho Alegre': 1,
 'Sumo Japanese Steakhouse Sushi': 1,
 'Golden East Restaurant': 1,
 'Chan Bistro': 1,
 "Mugshots Burger N' Brew": 1,
 'Hawaii BBQ Restaurant': 1,
 "Wibbley's Gourmet Hamburgers": 1,
 'Mediterranean Mix': 1,
 'Adams Enterprises': 1,
 'China Cafe Restaurant': 1,
 'Pizza Time': 1,
 'Eagans Westside Drive Inn': 1,
 'Burgermaster': 1,
 'Zeeks Pizza': 1,
 "Mama's Cantina": 1,
 "Dick's Drive-In": 1,
 'Husky Deli Catering': 1,
 "DiPuccio's Pasta Shop and Catering": 1,
 "Moon's Mongolian Grill": 1,
 'Sundowner Cafe': 1,
 'Rock City Grill': 1,
 "Lindaman's Gourmet-To-Go": 1,
 'Mizuna': 1,
 "Charley's Grill Spirits": 1,
 'Express Alterations': 1,
 'Tom Drive-in': 1,
 'Kwik Wok': 1,
 'South Shore Grill': 1,
 'Twistee Treat': 1,
 "Schwartz's Kraut Burger Ktchn": 1,
 'Chips Of Wis Rapids': 1,
 'Scenic Bar Restaurant': 1,
 "Matt's Takeout": 1,
 'Canton City Restaurant': 1,
 'Milano Pizza Greek': 1,
 'Bamboo House Chinese Restaurant': 1,
 'House Of China': 1,
 'Charton Management, Inc.': 1,
 "Truett's Chick-fil-A": 1,
 "McClure's Restaurant": 1,
 'Pizzamania': 1,
 'Hillbilly Hotdog': 1,
 "G D Ritzy's": 1,
 'Dairy Freeze': 1,
 "Wings Ole'": 1,
 "Roy's Club Italian Restaurant": 1,
 "Shaggy's Burgers Tacos": 1,
 "Hunt's Seafood Restaurant Oyster Bar": 1,
 "Fanny Ann's Saloon": 1,
 'Sassy Bass Market Place': 1,
 'The Gulf': 1,
 'Sunflower Cafe': 1,
 'Pie Five Pizza': 1,
 'Saigon Noodle House': 1,
 "Arby's - Closed": 1,
 "Burrito Joe's": 1,
 'Burrito Joint': 1,
 "Reuben's Mexican Food": 1,
 "Carina's Pizza & Grill": 1,
 'Saras Too': 1,
 'Burgers Inc': 1,
 "Casola's Pizzeria & Sub Shop": 1,
 'La Hacienda': 1,
 'Bamboo Wok': 1,
 'Backyard Burgers': 1,
 'Apollo Greek Restaurant': 1,
 "Eddy's Chinese American Restaurant": 1,
 'Hunan Bar & Restaurant': 1,
 "CULVER'S": 1,
 "Sorrento's Restaurant": 1,
 'Mekong Thai Cuisine': 1,
 'Subway Sandwiches Salads': 1,
 "Greek Plate Gyro's": 1,
 'Key Pizza': 1,
 "Super Niro's Gyros": 1,
 "Sfiha's": 1,
 'The Grub House': 1,
 "Jimmy's Big Burgers": 1,
 "Griff's Hamburgers": 1,
 'Sushi To Go': 1,
 "Miller's Ale House": 1,
 'KFC - Closed': 1,
 'Mocha Express': 1,
 'China Sea': 1,
 "Dino's Drive In": 1,
 'Boulder River Pizza Subs': 1,
 'Firehouse Pizza Restaurant': 1,
 "Annie's Cambodian Cuisine": 1,
 "Thrasher's French Fries": 1,
 "STEAK 'N SHAKE": 1,
 'Pizza Hut Express': 1,
 'El Zarape Restaurant': 1,
 'Genghis Grill': 1,
 'Hartz Chicken Buffet': 1,
 'Anf Gyros Grill': 1,
 'Stanfields Steak House': 1,
 'Health Camp': 1,
 'Highway Caf': 1,
 'Whataburger Of East Texas Corporate': 1,
 "Catfish Charlie's": 1,
 'Toms Burgers Grill': 1,
 'Slim Chickens': 1,
 'Las Pinatas Of Maui': 1,
 'Buffet City': 1,
 "Lucky's Burger Shack": 1,
 "Poppy's Burgers Subs": 1,
 'Big T Bar-B-Q': 1,
 "Rush's": 1,
 'Wingstop Fish Chicken': 1,
 'Wingstreet': 1,
 'Risata Pizza': 1,
 "Platt's Seafood": 1,
 'Pages Okra Grill': 1,
 'Tokyo Grill': 1,
 'Carolina Drive In': 1,
 "Pete's Drive-In": 1,
 'Hot Wing Express': 1,
 'IN-N-OUT WINGS': 1,
 'Lowcountry Wraps': 1,
 "Matt's Burgers": 1,
 "Nick's Gyros Subs": 1,
 "Wade's Restaurant": 1,
 'Basils Grille': 1,
 "Ellie's Mutt Hut & Vegetarian": 1,
 'Dellz Uptown': 1,
 "Big Billy's Burger Joint": 1,
 "C J's Cakes Catering": 1,
 'Sundae House': 1,
 'Town House Drive-In Restaurant': 1,
 "Skin's Hotdogs": 1,
 'Juan Pollo': 1,
 'Pizza Plus': 1,
 'Spice Thai Kitchen & Bar': 1,
 "Roma's Pizzeria": 1,
 "Izzy's Burger Spa": 1,
 'Tasty Goody Chinese Fast Food': 1,
 'Go-Chicken-Go': 1,
 "Georgio's": 1,
 "Mike's China Beach Chinese": 1,
 'Krystal - Closed': 1,
 'Blooming Flavors': 1,
 "Tullulah's": 1,
 'Krungthai Street Grill': 1,
 'Shasta Pizza': 1,
 'Mighty Taco': 1,
 "Ted's Fish Fry": 1,
 'Gourmet Cafe': 1,
 'Boston Pizza': 1,
 'Kabul Fried Chicken Corp': 1,
 'Beijing Garden Restaurant': 1,
 'Capri Pizzeria': 1,
 "Murillo's Mexican Food": 1,
 'Pizza Express': 1,
 'Wings Over Syracuse': 1,
 "David's Burgers": 1,
 'Roma Pizza': 1,
 'Bojangles': 1,
 'Primary AIM': 1,
 "Rasor's Drive In": 1,
 'Fundays': 1,
 "Larry's Dawg House": 1,
 "George's Coney's Gyro's": 1,
 "Marino's Seafood": 1,
 'Neighborhood Sbarro': 1,
 'Bahn Thai Bistro': 1,
 'Tweeters Wings': 1,
 'Melt Bar and Grilled': 1,
 'King Gyros': 1,
 'Smoke the Burger Joint': 1,
 'Buena Vista II': 1,
 "Big Boy's Construction, Inc.": 1,
 "Manny's Restaurant": 1,
 'Bay Harbor': 1,
 "Gentile's Bakery - Deli - Catering": 1,
 'Pizza Cottage': 1,
 "Ralphie's Sports Eatery": 1,
 'Piada Italian Street Food': 1,
 "40 Frisch's Big Boy Restaurant": 1,
 'Fit Food Express LLC': 1,
 'Flying Tiger Chinese Restaurant': 1,
 'The Oasis Restaurant Delivery': 1,
 "Nick and Jimmy's Bar Grill": 1,
 'Fusian': 1,
 'Dairy Bar': 1,
 'Empress Express': 1,
 'Wild Goats Cafe': 1,
 "Suzie's Dogs Drafts": 1,
 'Fireplace Restaurant Lounge': 1,
 'King Gyros Greek Restaurant': 1,
 "Tito's Mexican Grill": 1,
 'Swensons Drivein': 1,
 'Grinders Above Beyond': 1,
 'Main Moon Chinese Restaurant': 1,
 'Top China Buffet': 1,
 "Ann Tony's Restaurant": 1,
 'The Original Pancake House': 1,
 "Awful Annie's": 1,
 "Moo Moo's Burger Barn": 1,
 'Dinners Delivery': 1,
 'Canton House': 1,
 'Ny Chicken & Fish': 1,
 "Tony's Italian Kitchen": 1,
 "Pop's Italian Beef & Sausage": 1,
 'Lahaina Pizza Company': 1,
 'Lime Fresh Mexican Grill': 1,
 'ABC Chinese Restaurant': 1,
 'Gyros King Subs & Salads': 1,
 "Rick's on the River": 1,
 "Eddie's Chinese Take Out": 1,
 'Chinese To Go': 1,
 'East Coast Pizza': 1,
 'Skippers-Vancouver': 1,
 'Laughing Planet Cafe': 1,
 "Michael's Italian Beef": 1,
 "Valentino's Pizzeria Restaurant": 1,
 'Donavitos Restaurant Catering Company': 1,
 'High Tech Burrito': 1,
 'Holy Hot Dog': 1,
 "Franky's": 1,
 'Happy Garden Restaurant': 1,
 "Sarafino's Pasta Pizza": 1,
 'Sushi Boat Town': 1,
 'Da Vita San Jose Pd Dialysis': 1,
 'JJ Fish and Chicken': 1,
 'Sheung Garden': 1,
 'Hong Kong Restaurant': 1,
 'J C Chinese Restaurant': 1,
 'Crispy Chicken': 1,
 "Uncle Maddio's Pizza Joint": 1,
 'Island Soul': 1,
 'Gyro X-Press': 1,
 "Hong's Garden Restaurant": 1,
 'El Rancho Grande': 1,
 "Lee's Chinese Restaurant": 1,
 "Ma's Restaurant": 1,
 'Amigos-Kings Classic': 1,
 'Mucho Gusto': 1,
 'Everything Ok': 1,
 'Gyros Gyros': 1,
 'Corral Drive In': 1,
 "Zappo's Pizza": 1,
 "Pietro's Pizza Gallery of Games": 1,
 "Big Jim's Drive In": 1,
 'Richway Gyros': 1,
 'Burrtio Amigos': 1,
 "Albee's Ny Gyros": 1,
 'Agate Alley Bistro': 1,
 'Cornucopia': 1,
 'Gyro Stop': 1,
 'Grub House': 1,
 'Nicholas Restaurant': 1,
 'Bella Union Restaurant and Saloon': 1,
 'Casablanca Coffee Grill': 1,
 'Three Degrees Waterfront Bar Grill - CLOSED': 1,
 'Mcdonalds': 1,
 'China Buffet': 1,
 "Jacopetti's Catering": 1,
 'First Burger': 1,
 'Flavors Grill': 1,
 "Braum's Ice Cream and Dairy Store": 1,
 "Charlie's Fried Chicken": 1,
 "Arnold's Old Fashioned Hamburgers": 1,
 "Chet's East": 1,
 'Vertoris Pizza House': 1,
 'Pita Pit Brandon': 1,
 'Wing King Of Fletcher': 1,
 'Carvel Ice Cream Bakery': 1,
 'Thai To Go': 1,
 'King House Chinese Restaurant': 1,
 'Dis and Dem Burgers and Sliders': 1,
 'Asia Cafe': 1,
 'Tokyo Japanese Restaurant': 1,
 "Ryan's": 1,
 'Carrburritos': 1,
 "Al's Burger Shack-Southern Village": 1,
 'Family Carry Out': 1,
 'Nagano Japanese Restaurant': 1,
 'The Purple Bowl': 1,
 'Char Grill 1': 1,
 'Country Diner': 1,
 'Golden Palace Restaurant': 1,
 'Chick-Fil-A Of Randolph Mall': 1,
 'El Tapatio': 1,
 'Salsa Fresh Mexican Grill': 1,
 'Four Eleven West to Go': 1,
 'Carolina Chicken Inc': 1,
 'Dragon Golden Chinese Restaurant': 1,
 'Missouri Hick Barbeque': 1,
 'Hong Kong Inn': 1,
 'Hot Dog Shop': 1,
 'C J Drive In': 1,
 'Yanagi Sushi': 1,
 'Full Moon Bar B Que': 1,
 'New China': 1,
 'Paradise Supermart Fast Food Catering': 1,
 "King's Wings": 1,
 'Fat Mermaid': 1,
 'Pogolinos': 1,
 'Fun House Pizza Delivery': 1,
 'Hook Ladder Pizza Co': 1,
 "Mary's Pizza Shack": 1,
 'El Ranchito Restaurante': 1,
 "To Go's": 1,
 'Farmer Boys': 1,
 'Thai Grata Restaurant': 1,
 'Peking Chinese Restaurants': 1,
 'Gourmet Fine Catering': 1,
 'Manila Sunset': 1,
 'Captain Zacks Seafood': 1,
 'Mollys Diner': 1,
 "George's Gyros Spot 2": 1,
 "Paul's Restaurant": 1,
 'Italian Kitchen': 1,
 'CAN-AM Pizza': 1,
 "Mr Gyro's Wallingford": 1,
 'Treats Treasures': 1,
 'Gyro Delight': 1,
 'Park N Shop': 1,
 "Uncle Maddio's Pizza": 1,
 'The S and S Takeout': 1,
 "Bruegger's Bagels": 1,
 'sweetgreen': 1,
 'Melt Bar & Grilled': 1,
 'Palms Cafe': 1,
 'Acai Alaska': 1,
 "Nikki's Fresh Gourmet": 1,
 'B.GOOD': 1,
 'OTB Delight Cafe': 1,
 'Eco-Bean Organic Coffee House': 1,
 'Cosmic Kitchen': 1,
 'Nothing But Noodles': 1,
 'Dynasty Chinese Restaurant': 1,
 "Mama's Fried Chicken": 1,
 'Yum Yum Pizza': 1,
 'Photos Hotdogs': 1,
 "John's Pizzeria": 1,
 'Mikes Hot Dogs & Hamburgers': 1,
 'Black Cow Burger Bar': 1,
 'Sakimura': 1,
 'Great China': 1,
 'C & J Drive In': 1,
 'Marks Hot Dogs': 1,
 'Rupes Burgers': 1,
 'Los Tacos De Huicho': 1,
 'King Wing': 1,
 'Snuffys Malt Shop': 1,
 'Wok To Go': 1,
 'Noodles Bar': 1,
 "Sparky's Wings And Things": 1,
 'Joy Of Eating Cafe': 1,
 'Steak N Shake': 1,
 'Teak House': 1,
 'Sunrise Chinese Food Take Out': 1,
 'Mr Sub Sandwiches': 1,
 "Fazzari's": 1,
 'China Wok Chinese Takeout': 1,
 "Dawson's Burgers Wings Fries": 1,

In [ ]:
# Delete
def they_match(k: str, nk: str) -> bool:
  '''Checking if two strings match when simplified in some ways'''
  k_low = k.lower()
  nk_low = nk.lower()
  regex = re.compile('[a-z]+| - ')
  k_low_list = ''.join(item for item in regex.findall(k_low))
  nk_low_list = ''.join(item for item in regex.findall(nk_low))
  return k_low_list == nk_low_list

old_dict = fastfood_dict
new_dict = {}

for old_key in old_dict:
    for new_key in new_dict:
        if they_match(old_key, new_key):
            if old_dict[old_key] > max(new_dict[new_key]):
                new_dict[old_key] = new_dict.pop(new_key)
                new_dict[old_key].append(old_dict[old_key])
            else:
                new_dict[new_key].append(old_dict[old_key])
            break
    else:
        new_dict[old_key] = [old_dict[old_key]]

for (k,v) in new_dict.items():
  print('{}: {}'.format(k, sum(v)))

print(len(new_dict))
sum(Counter(fastfood_df_raw['name']).values())

McDonald's: 921
Subway: 1210
Taco Bell: 529
Pizza Hut: 474
Burger King: 448
KFC: 433
Dairy Queen: 252
Wendy's: 312
Domino's Pizza: 270
Sonic Drive-In: 323
Arby's: 249
Panera Bread: 140
Chipotle Mexican Grill: 139
Jimmy John's: 153
Jack in the Box: 120
Hardee's: 138
Panda Express: 107
Waffle House: 103
Chick-fil-A: 174
Moe's Southwest Grill: 77
Jersey Mike's Subs: 72
Popeyes Louisiana Kitchen: 78
Steak 'n Shake: 59
Church's Chicken: 63
Quiznos: 48
Five Guys Burgers Fries: 49
Dairy Queen Grill Chill: 65
Checkers: 40
Taco Time: 42
Krispy Krunchy Chicken: 39
Whataburger: 38
Firehouse Subs: 38
QDOBA Mexican Eats: 38
Long John Silver's: 39
Culver's: 40
Bob Evans: 35
Bojangles' Famous Chicken 'n Biscuits: 43
Del Taco: 30
Jack's: 30
Carl's Jr.: 55
White Castle: 28
Krystal: 27
Fox's Pizza Den: 30
Jack's Family Restaurants: 25
Orange Julius: 24
Dunkin Donuts: 43
Sbarro: 23
Taco John's: 36
Five Guys: 21
AW All-American Food: 20
Charley's Grilled Subs: 20
Boston Market: 19
McAlister's Deli: 31
Round Table Pizza: 18
Cook Out: 33
AW Restaurants: 21
Rally's: 26
BLIMPIE: 28
Pizza Pro: 15
El Pollo Loco: 15
Wienerschnitzel: 15
Pollo Tropical: 15
Captain D's Seafood Kitchen: 14
Jason's Deli: 19
McDonald's - CLOSED: 13
In-N-Out Burger: 15
Penn Station East Coast Subs: 13
Wingstop Restaurant: 13
Mellow Mushroom: 12
Little Caesars Pizza: 12
Skyline Chili: 11
Golden Chick: 9
Big Boy: 9
Krispy Kreme: 8
Famous Dave's: 9
Simple Simon's Pizza: 9
Red Robin Gourmet Burgers and Brews: 8
Which Wich: 7
Auntie Anne's Soft Pretzels: 7
Freddy's Frozen Custard Steakburgers: 10
Papa John's Pizza: 14
Gold Star Chili: 7
Hardees Red Burrito: 11
Wings To Go: 6
Taco Bueno: 6
Popeye's Chicken & Biscuits: 7
Fazoli's: 9
Zaxby's: 6
Captain Ds: 7
Big Boys: 5
Jerry's Subs and Pizza: 5
Potbelly Sandwich Works: 6
Burger King - Temporarily Closed: 5
Sarku Japan: 5
Old Country Buffet: 5
Taco Del Mar: 6
Dairy Queen (Treat): 5
Wing Street: 6
Taco Cabana: 5
Frisch's Big Boy: 5
Wingstop: 5
Bob Evans Restaurant: 5
Tropical Smoothie Cafe: 5
Sonic Drive-In - Temporarily Closed: 5
Port of Subs: 4
Big Apple Bagels: 4
Manchu Wok: 4
Captain D's Seafood: 4
Lee's Famous Recipe Chicken: 4
Tastee Freez: 4
Pollo Campero: 4
Red Robin Gourmet Burgers: 4
Abby's Legendary Pizza: 4
BaskinRobbins: 7
Mr Hero: 5
Hot Dog on a Stick: 5
Carls Jr Green Burrito: 4
Sonic: 4
KFC - Kentucky Fried Chicken: 4
Kentucky Fried Chicken: 4
Einstein Bros Bagels: 6
Nathan's Famous Hot Dogs: 3
Shake Shack: 3
Steak Escape: 3
Maid-Rite: 3
Taqueria: 3
Great Steak: 3
BurgerFi: 6
DQ Grill Chill: 3
Dairy Queen-Russo: 3
Seminole Subs Gyros: 3
Bob's Burgers Brew: 3
Pick Up Stix: 3
Mooyah: 3
Chicken Express: 3
Jamba Juice: 3
Bellacino's: 3
Bud's Chicken & Seafood: 3
Teddy's Bigger Burgers: 3
Joe's Burgers: 3
China House: 3
Taco Mayo: 3
Bad Daddys Burger Bar: 4
Raising Cane's Chicken Fingers: 4
Cinco de Mayo: 3
Fatburger: 3
Back Yard Burgers: 4
Quiznos Sub: 3
Tim Hortons: 3
Popeyes Chicken and Biscuits: 3
Popeyes: 3
Subway Sandwiches: 3
Burgerville: 3
Ryans: 4
Chipotle: 3
Cousins Subs: 3
Grandy's: 3
Charleys Philly Steaks: 3
Bates House Of Turkey Inc: 2
Full Moon Bar-B-Que: 3
Andy's Frozen Custard: 2
Evangelo's Restaurant: 2
Togo's Eatery: 2
Golden China Restaurant: 2
Maple Street Bistro: 2
Cafe Rio: 2
Puffy Muffin: 2
Hooters: 2
Ichiban Japanese Steakhouse: 2
Souvlaki: 2
Fery's Catering: 2
Golden Teriyaki: 2
Luigi's Italian Restaurant: 2
Ben's Soft Pretzels: 2
Noodles Company: 2
Foster's Grille: 2
China Jade: 2
Mediterrano Cafe: 2
Twenty-Four Carrot Cuisine: 2
Bru Burger Bar: 2
Teddy's Burger Joint: 2
Yen Ching Restaurant: 2
Tatanka Take-Out: 2
Tokyo Seoul: 2
Burger Ranch: 2
Bennidito's Pizza: 2
Pizza Pipeline: 2
KFC Kentucky Fried Chicken: 2
Restaurant: 3
Starbucks: 2
Taco CASA: 3
Kolache Factory: 2
Louisiana Fried Chicken: 2
Panda Chinese Restaurant: 2
Lion's Choice: 2
House Of Kobe: 2
Cafe Strudel: 2
Baja Fresh: 2
Mojo's: 2
Frisch's Big Boy Restaurant: 5
Hot Head Burritos: 2
China Cottage: 2
Swenson's Drive In Restaurants: 2
Asian Garden: 2
Juicy Burger: 2
Checkers Drive-In Rstrnt Inc: 2
Grub Burger Bar: 2
Wetzel's Pretzels: 2
Cadillac Jack's Saloon Grill: 2
Mr Gyros: 2
Sonic Drive-In - Closed: 2
D'Angelo Grilled Sandwiches: 2
Taste of Buffalo Pizzeria: 3
Palmetto Ale House: 2
Topper's Pizza: 3
China Lin: 2
El Sombrero: 2
Burger Hut: 2
WG Grinders: 3
Chicago Gyros: 2
Tudor's Biscuit World: 2
Touchdown Wings: 2
Capriotti's Sandwich Shop: 2
Taco Tontos: 2
Arbys CLOSED: 2
Chuck E. Cheese's: 2
Braum's Ice Cream Burger Restaurant: 2
China Bell Restaurant: 2
Rockne's: 3
Pilchuck Drive In: 2
Bob's Dogs: 2
Pei Wei: 2
I Love Country Cafe: 2
Fosters Freeze: 2
EuroGyro: 2
House of Lee: 2
Pal's Sudden Service: 2
Hamburger Mary's: 2
Runza: 3
AW: 2
Chronic Tacos: 2
Cafe Yumm: 2
Next Level Burger: 2
Nakato Japanese Steakhouse: 2
Roly Poly: 2
Rustic Cafe: 2
Edo Japanese Restaurant: 2
Blake's Lotaburger: 3
El Coronel: 2
El Tepeyac Grille: 2
Snoopy's Hot Dogs: 2
Fit Body Bistro: 2
Boddie-Noell Enterprises: 2
Burky's Grill: 2
Wild Sage American Bistro: 2
Church's Chicken Of Birmingham: 2
Brown's Chicken: 2
Shondiz: 1
Shelikof Lodge Restaurant: 1
Pizza Mill: 1
Sweet Pink Pepper: 1
Moy's Dynasty Restaurant: 1
Kretch's Restaurant: 1
Bangkok Thai Cuisine: 1
Dreamland Bar B Que: 1
Alfonso's Pizza Italian Restaurant: 1
Guthries: 2
Ak Buffet: 1
Wok N Roll: 1
Milo's Hamburgers: 1
Terrys Pizza: 1
Rolands Cajun Catering: 1
Fat Wong Chinese Food To Go: 1
Sol's Sandwich Shop and Deli: 1
Fisherman's Cove: 1
Tonelli's Takeout: 1
Manhattan Subs & Gyros: 1
Dragon China: 1
Charlene's Kitchen: 1
California Tortilla: 1
We The Pizza Crystal City: 1
Mountain Mike's Pizza: 1
Flame Broiler: 1
900 Degrees Pizza: 1
Sunwest Burgers: 1
Chinese Thai To Go: 1
Baba's Burgers & Gyros: 1
Los Taquitos: 1
Surfside Burger Shack: 1
Great Wall Chinese Restaurant: 1
Jon Smith Subs: 1
Yummy Chinese Restaurant: 1
Guppy's On The Go Carryout Pizza: 1
Perkins Restaurant & Bakery: 1
Carlos Quesadillas: 1
Hip Hop Fish & Chicken: 1
Gyro Hut: 1
Arctic Circle: 1
Burger Belly: 1
Mustard Seed: 1
Lenny's American Italian Fine Cuisine: 1
Tropics Bar & Grill: 1
Four-Ten Drive-In: 1
Roosters Waterfront Restaurant: 1
Roosters Landing: 1
Lucky Palace Chinese Restaurant: 1
Rogers Ice Cream and Burger: 1
Scratchcdacom Company: 1
Old Peking Restaurant: 1
Richard's Pizza: 1
Freddie's: 1
Kafein Coffee: 1
Zaks Shack Grill Deli Takeout: 1
Mike's Drive-Up: 1
Magic Foods: 1
Foons Take Out Chinese Restaurant: 1
Redrum Burger: 1
Jerry's Subs & Pizza: 1
Steve's Hot Dogs Tower Grove: 1
Johnny's Bar Grill: 1
J C Zip's Inc: 1
Country Boys BBQ: 1
Big Chickie: 1
Gyro House: 1
Syros Greek Italian Restaurant: 1
Getta Gyro: 1
Dimitri's Greek Italian: 1
Chen's Restaurant: 1
Shamus's Sandwich Shoppe: 1
Big Sammy's Hot Dogs II: 1
Thai Ginger-factoria: 1
Kismet Restaurant: 1
Tenders Inc: 1
Windy City Wieners: 1
Krekel's Custard: 1
Epic Burger: 1
Super Taco Inc: 1
Taco Gringo: 1
Napoleons Pizza: 1
Vince's Pizza: 1
Billy Jack's Burger Shack: 1
Iceberg Drive Inn: 1
Ciscos Taqueria: 2
High Street Pizza: 1
Apollo Burgers: 1
Blaze Pizza: 1
China King: 1
Pretzel Time: 1
Dominic's of New York: 2
Maglio's Pizza: 1
Retro's Good Eats: 1
Via Veneto Italian Restaurant: 1
El Charro Mexican Restaurant: 1
Roanoker Restaurant Inc: 1
Del Vecchios: 1
Chanellos Pizza: 2
Hellas Cafe: 1
Sushi Boss: 1
India Garden Restaurant: 1
Big Boys Construction: 1
George's Gyros Spot: 2
Lemon Tree Mediterranean Grill: 1
Order-In: 1
Nikos Gyros: 1
China Wok Express: 1
Big Daddy's Burgers: 1
Noble Roman's: 1
Pizo Foz Urban Pizza Kitchen: 1
Pizza Di Roma: 1
Get Some Pizza: 1
Cooper's Hawk Winery Restaurant: 1
Mug'n Bun Drive In: 1
Uncle Si's Pizza: 1
Rice House Of Kabob: 1
Eatin Fresh: 1
Demetrios Pizza House: 1
Peacock Restaurant: 1
Speedy Burritos: 1
Greenery Cafe: 1
Cheeseburger In Paradise: 1
Homegrown: 1
Keoki's: 1
Chun Wah Kam Noodle Factory: 1
Dexter's Drive-In: 1
Bethel Square Restaurant Lounge: 1
Ray's Drive In Restaurant: 1
Bob's Burger Brew: 1
Shambala Bakery and Bistro: 1
Best Burgers: 1
Rock Top Burgers Brew: 1
Nattamit Thai Restaurant: 1
Chinook's At Salmon Bay: 1
Banyans On The Ridge: 1
El Rancho Alegre: 1
Sumo Japanese Steakhouse Sushi: 1
Golden East Restaurant: 1
Chan Bistro: 1
Mugshots Burger N' Brew: 1
Hawaii BBQ Restaurant: 1
Wibbley's Gourmet Hamburgers: 1
Mediterranean Mix: 1
Adams Enterprises: 1
China Cafe Restaurant: 1
Pizza Time: 1
Eagans Westside Drive Inn: 1
Burgermaster: 2
Zeeks Pizza: 1
Mama's Cantina: 1
Dick's Drive-In: 1
Husky Deli Catering: 1
DiPuccio's Pasta Shop and Catering: 1
Moon's Mongolian Grill: 1
Sundowner Cafe: 1
Rock City Grill: 1
Lindaman's Gourmet-To-Go: 1
Mizuna: 1
Charley's Grill Spirits: 2
Express Alterations: 1
Tom Drive-in: 1
Kwik Wok: 1
South Shore Grill: 1
Twistee Treat: 1
Schwartz's Kraut Burger Ktchn: 1
Chips Of Wis Rapids: 1
Scenic Bar Restaurant: 1
Matt's Takeout: 1
Canton City Restaurant: 1
Milano Pizza Greek: 1
Bamboo House Chinese Restaurant: 1
House Of China: 1
Charton Management, Inc.: 1
Truett's Chick-fil-A: 1
McClure's Restaurant: 1
Pizzamania: 1
Hillbilly Hotdog: 1
G D Ritzy's: 1
Dairy Freeze: 1
Wings Ole': 1
Roy's Club Italian Restaurant: 1
Shaggy's Burgers Tacos: 1
Hunt's Seafood Restaurant Oyster Bar: 1
Fanny Ann's Saloon: 1
Sassy Bass Market Place: 1
The Gulf: 1
Sunflower Cafe: 1
Pie Five Pizza: 1
Saigon Noodle House: 1
Arby's - Closed: 1
Burrito Joe's: 1
Burrito Joint: 1
Reuben's Mexican Food: 1
Carina's Pizza & Grill: 1
Saras Too: 2
Burgers Inc: 1
Casola's Pizzeria & Sub Shop: 1
La Hacienda: 1
Bamboo Wok: 1
Apollo Greek Restaurant: 1
Eddy's Chinese American Restaurant: 1
Hunan Bar & Restaurant: 1
Sorrento's Restaurant: 1
Mekong Thai Cuisine: 1
Subway Sandwiches Salads: 1
Greek Plate Gyro's: 1
Key Pizza: 1
Super Niro's Gyros: 1
Sfiha's: 1
The Grub House: 1
Jimmy's Big Burgers: 1
Griff's Hamburgers: 1
Sushi To Go: 1
Miller's Ale House: 1
KFC - Closed: 1
Mocha Express: 1
China Sea: 1
Dino's Drive In: 1
Boulder River Pizza Subs: 1
Firehouse Pizza Restaurant: 1
Annie's Cambodian Cuisine: 1
Thrasher's French Fries: 1
Pizza Hut Express: 1
El Zarape Restaurant: 1
Genghis Grill: 1
Hartz Chicken Buffet: 1
Anf Gyros Grill: 1
Stanfields Steak House: 2
Health Camp: 1
Highway Caf: 1
Whataburger Of East Texas Corporate: 1
Catfish Charlie's: 1
Toms Burgers Grill: 1
Slim Chickens: 1
Las Pinatas Of Maui: 1
Buffet City: 1
Lucky's Burger Shack: 1
Poppy's Burgers Subs: 1
Big T Bar-B-Q: 1
Rush's: 1
Wingstop Fish Chicken: 1
Risata Pizza: 1
Platt's Seafood: 1
Pages Okra Grill: 1
Tokyo Grill: 1
Carolina Drive In: 1
Pete's Drive-In: 1
Hot Wing Express: 1
IN-N-OUT WINGS: 1
Lowcountry Wraps: 1
Matt's Burgers: 1
Nick's Gyros Subs: 1
Wade's Restaurant: 1
Basils Grille: 1
Ellie's Mutt Hut & Vegetarian: 1
Dellz Uptown: 1
Big Billy's Burger Joint: 2
C J's Cakes Catering: 1
Sundae House: 1
Town House Drive-In Restaurant: 1
Skin's Hotdogs: 1
Juan Pollo: 1
Pizza Plus: 1
Spice Thai Kitchen & Bar: 1
Roma's Pizzeria: 1
Izzy's Burger Spa: 1
Tasty Goody Chinese Fast Food: 1
Go-Chicken-Go: 1
Georgio's: 1
Mike's China Beach Chinese: 1
Krystal - Closed: 1
Blooming Flavors: 1
Tullulah's: 1
Krungthai Street Grill: 1
Shasta Pizza: 1
Mighty Taco: 1
Ted's Fish Fry: 1
Gourmet Cafe: 1
Boston Pizza: 1
Kabul Fried Chicken Corp: 1
Beijing Garden Restaurant: 1
Capri Pizzeria: 1
Murillo's Mexican Food: 1
Pizza Express: 1
Wings Over Syracuse: 1
David's Burgers: 1
Roma Pizza: 1
Bojangles: 1
Primary AIM: 1
Rasor's Drive In: 1
Fundays: 1
Larry's Dawg House: 1
George's Coney's Gyro's: 1
Marino's Seafood: 1
Neighborhood Sbarro: 1
Bahn Thai Bistro: 1
Tweeters Wings: 1
Melt Bar and Grilled: 1
King Gyros: 1
Smoke the Burger Joint: 1
Buena Vista II: 1
Big Boy's Construction, Inc.: 1
Manny's Restaurant: 1
Bay Harbor: 1
Gentile's Bakery - Deli - Catering: 1
Pizza Cottage: 1
Ralphie's Sports Eatery: 1
Piada Italian Street Food: 1
Fit Food Express LLC: 1
Flying Tiger Chinese Restaurant: 1
The Oasis Restaurant Delivery: 1
Nick and Jimmy's Bar Grill: 1
Fusian: 1
Dairy Bar: 1
Empress Express: 1
Wild Goats Cafe: 1
Suzie's Dogs Drafts: 1
Fireplace Restaurant Lounge: 2
King Gyros Greek Restaurant: 1
Tito's Mexican Grill: 1
Swensons Drivein: 1
Grinders Above Beyond: 1
Main Moon Chinese Restaurant: 1
Top China Buffet: 1
Ann Tony's Restaurant: 1
The Original Pancake House: 1
Awful Annie's: 1
Moo Moo's Burger Barn: 1
Dinners Delivery: 1
Canton House: 1
Ny Chicken & Fish: 1
Tony's Italian Kitchen: 1
Pop's Italian Beef & Sausage: 1
Lahaina Pizza Company: 1
Lime Fresh Mexican Grill: 1
ABC Chinese Restaurant: 1
Gyros King Subs & Salads: 1
Rick's on the River: 2
Eddie's Chinese Take Out: 1
Chinese To Go: 1
East Coast Pizza: 1
Skippers-Vancouver: 1
Laughing Planet Cafe: 1
Michael's Italian Beef: 1
Valentino's Pizzeria Restaurant: 1
Donavitos Restaurant Catering Company: 1
High Tech Burrito: 1
Holy Hot Dog: 1
Franky's: 1
Happy Garden Restaurant: 1
Sarafino's Pasta Pizza: 1
Sushi Boat Town: 1
Da Vita San Jose Pd Dialysis: 1
JJ Fish and Chicken: 1
Sheung Garden: 1
Hong Kong Restaurant: 1
J C Chinese Restaurant: 1
Crispy Chicken: 1
Uncle Maddio's Pizza Joint: 1
Island Soul: 1
Gyro X-Press: 1
Hong's Garden Restaurant: 1
El Rancho Grande: 1
Lee's Chinese Restaurant: 1
Ma's Restaurant: 1
Amigos-Kings Classic: 1
Mucho Gusto: 1
Everything Ok: 1
Gyros Gyros: 1
Corral Drive In: 1
Zappo's Pizza: 1
Pietro's Pizza Gallery of Games: 2
Big Jim's Drive In: 1
Richway Gyros: 1
Burrtio Amigos: 1
Albee's Ny Gyros: 2
Agate Alley Bistro: 1
Cornucopia: 1
Gyro Stop: 1
Grub House: 1
Nicholas Restaurant: 2
Bella Union Restaurant and Saloon: 1
Casablanca Coffee Grill: 1
Three Degrees Waterfront Bar Grill - CLOSED: 1
China Buffet: 1
Jacopetti's Catering: 1
First Burger: 1
Flavors Grill: 1
Braum's Ice Cream and Dairy Store: 1
Charlie's Fried Chicken: 1
Arnold's Old Fashioned Hamburgers: 1
Chet's East: 1
Vertoris Pizza House: 1
Pita Pit Brandon: 1
Wing King Of Fletcher: 1
Carvel Ice Cream Bakery: 1
Thai To Go: 1
King House Chinese Restaurant: 1
Dis and Dem Burgers and Sliders: 1
Asia Cafe: 1
Tokyo Japanese Restaurant: 1
Carrburritos: 1
Al's Burger Shack-Southern Village: 1
Family Carry Out: 1
Nagano Japanese Restaurant: 1
The Purple Bowl: 1
Char Grill 1: 2
Country Diner: 1
Golden Palace Restaurant: 1
Chick-Fil-A Of Randolph Mall: 1
El Tapatio: 1
Salsa Fresh Mexican Grill: 1
Four Eleven West to Go: 1
Carolina Chicken Inc: 1
Dragon Golden Chinese Restaurant: 1
Missouri Hick Barbeque: 1
Hong Kong Inn: 1
Hot Dog Shop: 1
C J Drive In: 2
Yanagi Sushi: 1
New China: 1
Paradise Supermart Fast Food Catering: 1
King's Wings: 1
Fat Mermaid: 1
Pogolinos: 1
Fun House Pizza Delivery: 1
Hook Ladder Pizza Co: 1
Mary's Pizza Shack: 2
El Ranchito Restaurante: 1
To Go's: 1
Farmer Boys: 1
Thai Grata Restaurant: 1
Peking Chinese Restaurants: 1
Gourmet Fine Catering: 1
Manila Sunset: 1
Captain Zacks Seafood: 1
Mollys Diner: 1
Paul's Restaurant: 1
Italian Kitchen: 1
CAN-AM Pizza: 1
Mr Gyro's Wallingford: 1
Treats Treasures: 1
Gyro Delight: 1
Park N Shop: 1
Uncle Maddio's Pizza: 1
The S and S Takeout: 1
Bruegger's Bagels: 1
sweetgreen: 1
Melt Bar & Grilled: 1
Palms Cafe: 1
Acai Alaska: 1
Nikki's Fresh Gourmet: 1
B.GOOD: 1
OTB Delight Cafe: 1
Eco-Bean Organic Coffee House: 1
Cosmic Kitchen: 1
Nothing But Noodles: 1
Dynasty Chinese Restaurant: 1
Mama's Fried Chicken: 1
Yum Yum Pizza: 1
Photos Hotdogs: 1
John's Pizzeria: 1
Mikes Hot Dogs & Hamburgers: 1
Black Cow Burger Bar: 1
Sakimura: 1
Great China: 1
Marks Hot Dogs: 1
Rupes Burgers: 1
Los Tacos De Huicho: 1
King Wing: 1
Snuffys Malt Shop: 1
Wok To Go: 1
Noodles Bar: 1
Sparky's Wings And Things: 1
Joy Of Eating Cafe: 1
Teak House: 1
Sunrise Chinese Food Take Out: 1
Mr Sub Sandwiches: 1
Fazzari's: 1
China Wok Chinese Takeout: 1
Dawson's Burgers Wings Fries: 1
Sun House Chinese Take Out Restaurant: 1
Marco's Pizza: 1
Jack Brown's Beer Burger Jnt: 1
Gyro Uno: 1
DJ's Drive-In: 1
Mr Chicken: 1
Dan's Drive In: 1
Tender Towne: 1
Minh's Restaurant: 1
Giovanni's Pizza: 1
Pietro's Pizza Pirate Adventure: 1
Best Burger: 1
Chill Spot: 1
Andreas Keller Restaurant: 1
China Wok: 1
Franks Diner: 1
Prices Chicken Coop: 1
Subway Meadows Park SC: 1
Babas Gyro And Kabob: 1
Gyro Wrap: 1
Lulus Cafe: 1
Butcher Boy's Cafe: 1
Hong Kong Gourmet: 1
The Coffee House: 1
Delta Cafe: 1
Golden Palace: 1
Papas Breakfast Nook: 1
5th Street Diner: 1
Wenellis Pizza: 1
Old Creamery Cafe: 1
Peppermint Twist Drive In: 1
Countrie Eatery: 1
Ricos Subs & Tacos: 1
Golden City: 1
Cafe Presto: 1
Dari Ette Drive In: 1
Alfonsos Pizza: 1
Flip's Burgers: 1
Mrs Fields: 1
Forasteros Mexican Food: 1
5 Star Abq: 1
Jd Seafood Bistro: 1
Larkfield Shopping Center: 1
Destin Connection Seafood Market: 1
Mr Submarine: 1
Sopa Thai Cuisine: 1
Cafe Waterfront: 1
Grecian Steak House: 1
Chan's Restaurant: 1
Westside Deli: 1
Mata Mediterranean Grill: 1
Big Boy's Burgers and Shakes: 1
Ritters Frozen Custard: 2
Barberitos: 1
PDQ Restaurant: 1
Mr K's: 1
Commander Restaurant: 1
Lees Kitchen: 1
Checker's Drive In Restaurant: 1
Bill's Seafood Restaurant: 1
Casper Fry: 1
EL Indio II: 1
Kow Loon Restaurant: 1
Oriental Inn: 1
Camerons Seafood Market: 1
Mr Greek Gyros: 1
Chalupas: 1
Rally's Hamburgers: 2
HomeTown Buffet: 2
Palenque Mexican Restaurant: 1
EVOS South Tampa: 1
SUBWAY Restaurant: 1
Saladfarm: 1
Shell Gas Station: 1
Larson Enterprises: 1
DK's Drive-In: 1
Alpine Bistro Bakery Co: 1
EZ's Burger Deluxe: 1
China Panda: 1
Mediterranean Gyro: 1
City Bites: 1
USA Subs Grill: 1
Senju Japanese Restaurant: 1
Big Al's Steaks: 1
Jambalaya Shoppe: 1
KFC AW: 1
Biscuitville: 1
Saladworks: 1
Yeongs Place: 1
Johnny Rockets: 1
Los Betos: 1
Moz Subway: 1
The Big Burger Spot: 1
Phils Philly Grill: 1
Smitty's Better Burger: 1
British Pantry LTD: 1
Sushi Masa Thai Cuisine: 1
Bigham's Smokehouse: 1
Cain's Bar B-Que: 1
Me's Bar-B-Que: 1
Lee's Bar-B-Q: 1
Bubba's Roadhouse Saloon: 1
China City Garden Take Out: 1
Lannie's Bar-B-Q Spot: 1
Iwa Sushi Grill: 1
Beef Burger: 1
Smokehouse Restaurant: 1
Angry Barbeque: 1
Odd Moe's Pizza: 1
Gulf Shores Diner: 1
The Original Hot Dog Factory: 1
Baja Bar Grill: 1
Colonel Sanders Fried Chicken: 1
Caribbean Express Restaurant: 1
Z-Pizza: 2
McConkey's Jungle Shack: 1
Tommy's Barbecue: 1
Campus U-Tote-Em: 1
Zante's Fast Food: 1
Polar Queen Drive Inn: 1
Trolley Stop: 1
Ocean Beach Roasters: 1
Ken's Sidewalk Cafe: 1
Gulf Drive Cafe: 1
Chips 'N Ales: 1
Bob's Carry-Out Shop: 1
Dog House Inc: 1
Home Plate Cooking: 1
Scrimshaw Restaurant: 1
Hardee's - Loris:: 1
Hardee's Restaurant: 1
Hardee's Restaurants: 1
Arby's - Coming Soon: 1
Williams Williams Carryout: 1
Annas Pizza Italian Restaurant: 1
The Fat Mermaid: 1
Honeygrow: 1
Stellar Brew Natural Cafe: 1
Crazy Pho Cajun: 1
JJ Sausage Maxwell Street: 1
Best Lil' Porkhouse: 1
Tally-Ho Restaurant: 1
A W Restaurant: 2
Dog N Suds: 1
Pei Wei Asian Diner: 1
Panda Express - Inside Vons + Inside Vons +: 1
Einstein Bros. Bagels - Closed: 1
Fon Lee Chinese Take Out: 1
Roosters: 1
Pickleman's UMKC: 1
ZZA Pizza + Salad: 1
Tokyo Japanese Steakhouse: 1
Jalsa Indian Fast Food: 1
DJs Hot Dog Co: 1
Wild Ginger China Bistro: 1
Gold Star Hamburgers: 1
Black Cat Burrito: 1
VCU Compass Plaza: 1
Hi Rise Bakery: 1
Slice of Life: 2
Habibi Diner: 1
Zapopan Mexican Restaurant: 1
Alberte Restaurant With A Carribean Flavor: 1
Kipps Cheesesteak: 1
Bushs Chicken: 1
Cardos Pizza of Waverly: 1
Great Wraps: 1
Angelinas Pizza: 1
Panda North: 1
Burger Company: 1
Jays Beef: 1
Bo's Ice Cream: 1
Dejesus Deli Grocery: 1
Andys Burgers Shakes Fries: 1
Guss DRIVEIN: 1
Seasons Best Seafood: 1
Bangkok 56: 1
China Hut: 1
Gyro's Cafe: 1
Olde Fish House Marina: 1
Teresas Drive In: 1
Guadalajara Original Family Mexican Restaurant: 1
Blue Bay Seafood Restaurant: 1
Senor Taco: 1
Wendy's - Temporarily Closed: 1
Bee Bop Burgers: 1
Mayan Family Mexican Restaurant: 1
Tazza Cafe: 1
Mr Gyros Burgers: 1
Puerto Vallarta Restaurant: 1
Win's Drive-In: 1
IL Granaio: 1
Villa Fresh Italian Kitchen: 1
Peking Chinese Restaurant: 1
Smithfields Chicken N BarBQ: 1
Jollibee: 1
Saffron: 1
Chicken Kitchen: 1
The Campbell House Inn Restaurant: 1

10000

In [ ]:
# (?)Delete
names = fastfood_df_raw['name'].tolist()

for i in range(len(names)):
  for key in new_dict:
    if they_match(names[i], key):
      del names[i]
      names.insert(i, key)
      break

fastfood_df = fastfood_df_raw.assign(name=names)
fastfood_df

,id,dateAdded,dateUpdated,address,categories,primaryCategories,city,country,keys,latitude,longitude,name,postalCode,province,sourceURLs,websites
0,AWrSh_KgsVYjT2BJAzaH,2019-05-19T23:58:05Z,2019-05-19T23:58:05Z,2555 11th Avenue,"Fast Food Restaurants,Hamburgers and Hot Dogs,...",Accommodation & Food Services,Greeley,US,us/co/greeley/255511thavenue/554191587,40.396290,-104.696990,Carl's Jr.,80631,CO,https://www.yellowpages.com/greeley-co/mip/car...,https://www.carlsjr.com/?utm_source=Yextandutm...
1,AWEKlA-LIxWefVJwxG9B,2018-01-18T18:30:23Z,2019-05-19T23:45:05Z,2513 Highway 6 And 50,"Restaurant,Mexican Restaurants,Fast Food Resta...",Accommodation & Food Services,Grand Junction,US,us/co/grandjunction/2513highway6and50/1550891556,39.081350,-108.586890,Del Taco,81505,CO,http://www.citysearch.com/profile/772076870/gr...,http://www.deltaco.com
2,AWrSfAcYsVYjT2BJAzPt,2019-05-19T23:45:04Z,2019-05-19T23:45:04Z,1125 Patterson Road,"Sandwich Shops,Fast Food Restaurants,Restauran...",Accommodation & Food Services,Grand Junction,US,us/co/grandjunction/1125pattersonroad/-2137447852,39.091480,-108.554110,Which Wich,81506,CO,https://www.yellowpages.com/grand-junction-co/...,http://www.whichwich.com
3,AWrSa3NAQTFama1Xpkbz,2019-05-19T23:26:58Z,2019-05-19T23:26:58Z,3455 N Salida Court,"Fast Food Restaurants,Mexican Restaurants,Rest...",Accommodation & Food Services,Aurora,US,us/co/aurora/3455nsalidacourt/1143321601,39.763690,-104.776710,Chipotle Mexican Grill,80011,CO,https://www.yellowpages.com/aurora-co/mip/chip...,http://www.chipotle.com
4,AWrSaVGzZ4Yw-wtdgcaB,2019-05-19T23:24:38Z,2019-05-19T23:24:38Z,5225 E Colfax Avenue,"Fast Food Restaurants,Mexican Restaurants,Rest...",Accommodation & Food Services,Denver,US,us/co/denver/5225ecolfaxavenue/-864103396,39.740440,-104.926360,Taco Bell,80220,CO,https://www.yellowpages.com/denver-co/mip/taco...,https://locations.tacobell.com/co/denver/5225-...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,AVwd7U0T_7pvs4fz-fS_,2016-05-31T13:33:45Z,2018-12-03T09:04:19Z,1803 Carolina Ave,"American Restaurants,Caterers,Soul Food Restau...",Accommodation & Food Services,Bessemer,US,us/al/bessemer/1803carolinaave/785498836,33.399574,-86.951050,Church's Chicken Of Birmingham,35020,AL,http://www.yellowpages.com/bessemer-al/mip/chu...,http://www.churchs.com
9996,AV1XW1fF3D1zeR_xFKHL,2017-07-18T20:19:50Z,2018-12-02T00:08:36Z,8511 Cantilever Way Ste 105,"Mexican Restaurants,Caterers,Delicatessens,Iri...",Accommodation & Food Services,Raleigh,US,us/nc/raleigh/8511cantileverwayste105/-1596320866,35.884500,-78.737541,Luxury Box,27613-6996,NC,https://www.bbb.org/us/nc/raleigh/profile/spor...,"http://www.theluxuryboxofraleigh.com,http://th..."
9997,AV5UVbkiRxPSIh2RiQxV,2017-09-05T23:05:50Z,2018-12-01T07:38:03Z,2601 Plover Rd,"Carry-out food,Hot dog restaurants,Fast Food R...",Accommodation & Food Services,Plover,US,us/wi/plover/2601ploverrd/-1161002137,44.453180,-89.543170,McDonald's,54467,WI,https://www.yellowpages.com/plover-wi/mip/mcdo...,"http://mcdonalds.com,http://www.mcdonalds.com/..."
9998,AVwc9BxYByjofQCxj_GW,2016-03-31T02:43:12Z,2018-12-01T07:35:22Z,170 E Main St,"Carry-out food,Caterers,Restaurant delivery se...",Accommodation & Food Services,Hendersonville,US,us/tn/hendersonville/170emainst/-66712705,36.308262,-86.607339,Pizza Hut,37075,TN,https://foursquare.com/v/pizza-hut/4c5fffd43a3...,http://www.pizzahut.com
9999,AVzA_GF53D1zeR_xBDVW,2017-06-19T15:33:04Z,2018-12-01T00:03:40Z,3400 Westgate Drive,"Fast Food Restaurant,Restaurants",Accommodation & Food Services,Durham,US,us/nc/durham/3400westgatedrive/-2061630068,35.965869,-78.963366,Burger King,27707-2696,NC,https://foursquare.com/v/burger-king/4c4b28765...,http://www.bk.com

In [ ]:
# Delete
counted = Counter(",".join(fastfood_df['categories']).split(","))
{k: v for k, v in sorted(counted.items(), key=lambda item: item[1], reverse=True)}

In [ ]:
def process_contains(df, column, contains, replace):
  '''Takes a df as input, creates binary columns out of shared attributes
  
  Args:
    df - input dataframe
    column - Specifies the column you want to examine entries of
    contains - If the column entries contain these things, apply the function
    replace - What to replace the 'contains' argument with
    '''
  if contains is None:
    contains = ['Cater', 'Delic', 'Hot dog', 'Mexican', 'Sandwich', 'Coffee', 'Veg', 'Pizza']
  else: contains = set(df[f"{contains}"])
  
  if replace is None:
    replace = ['Catering', 'Deli', 'Hot dogs', 'Mexican', 'Sandwich', 'Coffee', 'Vegetarian', 'Pizza']
  else: replace = set(df[f"{replace}"])
  
  if column is None:
    column = 'categories'

  variable_dict = {}
  for i, j, k in zip(contains, replace, range(len(contains))):
    boolean_mask = df[f"{column}"].str.contains(i)
    variable_dict[f'{j}'] = boolean_mask
  
  df.drop(columns=[f"{column}"], inplace=True)
  variable_df = pd.DataFrame(variable_dict)
  variable_df.replace({False: 0, True: 1}, inplace=True)

  return df.join(variable_df)

In [ ]:
# Delete
fastfood_df['Car Juice']

KeyError: ignored

In [ ]:
fastfood_df = process_contains(fastfood_df, column = 'Location', contains=set(fastfood_df['Location']), replace=set(fastfood_df['Location']))
fastfood_df

KeyError: ignored

In [ ]:
fastfood_df = process_contains(fastfood_df)
fastfood_df

,id,dateAdded,dateUpdated,address,primaryCategories,city,country,keys,latitude,longitude,...,sourceURLs,websites,Catering,Deli,Hot dogs,Mexican,Sandwich,Coffee,Vegetarian,Pizza
0,AWrSh_KgsVYjT2BJAzaH,2019-05-19T23:58:05Z,2019-05-19T23:58:05Z,2555 11th Avenue,Accommodation & Food Services,Greeley,US,us/co/greeley/255511thavenue/554191587,40.396290,-104.696990,...,https://www.yellowpages.com/greeley-co/mip/car...,https://www.carlsjr.com/?utm_source=Yextandutm...,0,0,0,0,0,0,0,0
1,AWEKlA-LIxWefVJwxG9B,2018-01-18T18:30:23Z,2019-05-19T23:45:05Z,2513 Highway 6 And 50,Accommodation & Food Services,Grand Junction,US,us/co/grandjunction/2513highway6and50/1550891556,39.081350,-108.586890,...,http://www.citysearch.com/profile/772076870/gr...,http://www.deltaco.com,0,0,0,1,0,0,0,0
2,AWrSfAcYsVYjT2BJAzPt,2019-05-19T23:45:04Z,2019-05-19T23:45:04Z,1125 Patterson Road,Accommodation & Food Services,Grand Junction,US,us/co/grandjunction/1125pattersonroad/-2137447852,39.091480,-108.554110,...,https://www.yellowpages.com/grand-junction-co/...,http://www.whichwich.com,0,0,0,0,1,0,0,0
3,AWrSa3NAQTFama1Xpkbz,2019-05-19T23:26:58Z,2019-05-19T23:26:58Z,3455 N Salida Court,Accommodation & Food Services,Aurora,US,us/co/aurora/3455nsalidacourt/1143321601,39.763690,-104.776710,...,https://www.yellowpages.com/aurora-co/mip/chip...,http://www.chipotle.com,0,0,0,1,0,0,0,0
4,AWrSaVGzZ4Yw-wtdgcaB,2019-05-19T23:24:38Z,2019-05-19T23:24:38Z,5225 E Colfax Avenue,Accommodation & Food Services,Denver,US,us/co/denver/5225ecolfaxavenue/-864103396,39.740440,-104.926360,...,https://www.yellowpages.com/denver-co/mip/taco...,https://locations.tacobell.com/co/denver/5225-...,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,AVwd7U0T_7pvs4fz-fS_,2016-05-31T13:33:45Z,2018-12-03T09:04:19Z,1803 Carolina Ave,Accommodation & Food Services,Bessemer,US,us/al/bessemer/1803carolinaave/785498836,33.399574,-86.951050,...,http://www.yellowpages.com/bessemer-al/mip/chu...,http://www.churchs.com,1,0,0,0,0,0,0,0
9996,AV1XW1fF3D1zeR_xFKHL,2017-07-18T20:19:50Z,2018-12-02T00:08:36Z,8511 Cantilever Way Ste 105,Accommodation & Food Services,Raleigh,US,us/nc/raleigh/8511cantileverwayste105/-1596320866,35.884500,-78.737541,...,https://www.bbb.org/us/nc/raleigh/profile/spor...,"http://www.theluxuryboxofraleigh.com,http://th...",1,1,0,1,1,0,0,0
9997,AV5UVbkiRxPSIh2RiQxV,2017-09-05T23:05:50Z,2018-12-01T07:38:03Z,2601 Plover Rd,Accommodation & Food Services,Plover,US,us/wi/plover/2601ploverrd/-1161002137,44.453180,-89.543170,...,https://www.yellowpages.com/plover-wi/mip/mcdo...,"http://mcdonalds.com,http://www.mcdonalds.com/...",0,0,1,0,0,0,0,0
9998,AVwc9BxYByjofQCxj_GW,2016-03-31T02:43:12Z,2018-12-01T07:35:22Z,170 E Main St,Accommodation & Food Services,Hendersonville,US,us/tn/hendersonville/170emainst/-66712705,36.308262,-86.607339,...,https://foursquare.com/v/pizza-hut/4c5fffd43a3...,http://www.pizzahut.com,1,0,0,0,0,0,0,1
9999,AVzA_GF53D1zeR_xBDVW,2017-06-19T15:33:04Z,2018-12-01T00:03:40Z,3400 Westgate Drive,Accommodation & Food Services,Durham,US,us/nc/durham/3400westgatedrive/-2061630068,35.965869,-78.963366,...,https://foursquare.com/v/burger-king/4c4b28765...,http://www.bk.com,0,0,0,0,0,0,0,0

In [ ]:
col_dict = {'dateAdded': 'WhenAdded', 'dateUpdated': 'LastUpdated',\
                        'address': 'Address', 'primaryCategories': 'PrimaryCategories',\
                        'city': 'City','latitude': 'Latitude', 'longitude': 'Longitude',\
                        'name': 'Restaurant Name', 'postalCode': 'Zip Code',\
                        'province': 'State', 'Catering': 'Catering', 'Deli': 'Deli',\
                        'Hot dogs': 'Hot dogs', 'Mexican': 'Mexican', 'Sandwich': 'Sandwich',\
                        'Coffee': 'Coffee', 'Vegetarian': 'Vegetarian', 'Pizza': 'Pizza'}

fastfood_df.rename(columns=col_dict, inplace=True)

cols = list(col_dict.values())
fastfood_df = fastfood_df[cols]
fastfood_df

,WhenAdded,LastUpdated,Address,PrimaryCategories,City,Latitude,Longitude,Restaurant Name,Zip Code,State,Catering,Deli,Hot dogs,Mexican,Sandwich,Coffee,Vegetarian,Pizza
0,2019-05-19T23:58:05Z,2019-05-19T23:58:05Z,2555 11th Avenue,Accommodation & Food Services,Greeley,40.396290,-104.696990,Carl's Jr.,80631,CO,0,0,0,0,0,0,0,0
1,2018-01-18T18:30:23Z,2019-05-19T23:45:05Z,2513 Highway 6 And 50,Accommodation & Food Services,Grand Junction,39.081350,-108.586890,Del Taco,81505,CO,0,0,0,1,0,0,0,0
2,2019-05-19T23:45:04Z,2019-05-19T23:45:04Z,1125 Patterson Road,Accommodation & Food Services,Grand Junction,39.091480,-108.554110,Which Wich,81506,CO,0,0,0,0,1,0,0,0
3,2019-05-19T23:26:58Z,2019-05-19T23:26:58Z,3455 N Salida Court,Accommodation & Food Services,Aurora,39.763690,-104.776710,Chipotle Mexican Grill,80011,CO,0,0,0,1,0,0,0,0
4,2019-05-19T23:24:38Z,2019-05-19T23:24:38Z,5225 E Colfax Avenue,Accommodation & Food Services,Denver,39.740440,-104.926360,Taco Bell,80220,CO,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,2016-05-31T13:33:45Z,2018-12-03T09:04:19Z,1803 Carolina Ave,Accommodation & Food Services,Bessemer,33.399574,-86.951050,Church's Chicken Of Birmingham,35020,AL,1,0,0,0,0,0,0,0
9996,2017-07-18T20:19:50Z,2018-12-02T00:08:36Z,8511 Cantilever Way Ste 105,Accommodation & Food Services,Raleigh,35.884500,-78.737541,Luxury Box,27613-6996,NC,1,1,0,1,1,0,0,0
9997,2017-09-05T23:05:50Z,2018-12-01T07:38:03Z,2601 Plover Rd,Accommodation & Food Services,Plover,44.453180,-89.543170,McDonald's,54467,WI,0,0,1,0,0,0,0,0
9998,2016-03-31T02:43:12Z,2018-12-01T07:35:22Z,170 E Main St,Accommodation & Food Services,Hendersonville,36.308262,-86.607339,Pizza Hut,37075,TN,1,0,0,0,0,0,0,1
9999,2017-06-19T15:33:04Z,2018-12-01T00:03:40Z,3400 Westgate Drive,Accommodation & Food Services,Durham,35.965869,-78.963366,Burger King,27707-2696,NC,0,0,0,0,0,0,0,0

In [ ]:
write_csv(fastfood_df)

Created file: "_.csv"
Suck-sess!

In [ ]:
pd.merge_ordered(walmart_cleaned, fastfood_cleaned, how='outer', on='Zip Code', fill_method='ffill')

,Latitude_x,Longitude_x,Location,Address_x,Car Juice,Zip Code,WhenAdded,LastUpdated,Address_y,Categories,PrimaryCategories,City,Latitude_y,Longitude_y,Restaurant Name,State
0,-79.290933,43.783690,"Walmart; #3000,","3850 Sheppard Ave E, Scarborough ON,M1T 3L4",0,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,-72.574444,42.174367,"Walmart SC; #5278,","591 Memorial Dr; I-90 Exit 5, Chicopee, MA,01020",0,01020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,-72.553044,42.354910,"Walmart; #2683,","337 Russell St, Hadley, MA,01035",0,01035,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,-72.643020,42.341531,"Walmart; #2901,","180 N King St; I-91 Exit 21, Northhampton, MA,...",0,01060,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,-72.278953,42.238391,"Walmart SC; #2386,","352 Palmer Rd, Ware, MA,01082",0,01082,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16846,-147.688971,64.857356,"Walmart SC; #2722,","537 Johansen Expy, Fairbanks, AK,99701",0,99709,2019-02-26T08:36:39Z,2019-04-26T09:34:26Z,3428 Airport Way,"Carry-out food,American Restaurants,Takeout,Ba...",Accommodation & Food Services,Fairbanks,64.83703,-147.80067,AW Restaurants,AK
16847,-147.688971,64.857356,"Walmart SC; #2722,","537 Johansen Expy, Fairbanks, AK,99701",0,99801,2017-07-24T21:23:05Z,2019-05-12T07:54:49Z,8585 Old Dairy Rd Ste 105,"Bars Clubs,Asian Restaurants,Japanese Restaura...",Accommodation & Food Services,Juneau,58.36360,-134.57510,Canton House,AK
16848,-147.688971,64.857356,"Walmart SC; #2722,","537 Johansen Expy, Fairbanks, AK,99701",0,99835,2015-11-06T09:59:23Z,2019-04-14T06:16:41Z,913 Halibut Point Rd,"Ice Cream Parlors,Carry-out food,Breakfast,Hot...",Accommodation & Food Services,Sitka,57.06010,-135.34930,McDonald's,AK
16849,-131.720364,55.376113,"Walmart; #2710,","4230 Don King Rd, Ketchikan, AK,99901",0,99901,2017-12-23T00:00:46Z,2019-05-19T21:43:52Z,2417 Tongass Ave Ste 120,"Carry-out food,Mexican Restaurants,Tex-mex res...",Accommodation & Food Services,Ketchikan,55.34840,-131.67413,Taco Time,AK
16850,-131.720364,55.376113,"Walmart; #2710,","4230 Don King Rd, Ketchikan, AK,99901",0,99901,2017-07-23T03:27:33Z,2019-05-19T21:43:30Z,808 Water St,"Carry-out food,Caterers,Hot dog restaurants,Te...",Accommodation & Food Services,Ketchikan,55.34450,-131.65330,Pizza Mill,AK

In [ ]:
### End of fastfood dataframe cleaning

In [ ]:
foodaccess_path = 'Outside_data/FoodAccessResearchAtlasData2019.xlsx'

xlsx = pd.ExcelFile(foodaccess_path)
print(xlsx.sheet_names)

foodaccess_xlsx = pd.read_excel(foodaccess_path, engine='xlrd')
foodaccess_df_raw = pd.DataFrame(foodaccess_xlsx)
# foodaccess_df_raw

['Read Me', 'Variable Lookup', 'Food Access Research Atlas']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: FutureWarning: Your version of xlrd is 1.2.0. In xlrd >= 2.0, only the xls format is supported. Install openpyxl instead.

In [ ]:
# Delete
# food_access_df = xlsx.parse('Food Access Research Atlas')
food_access_df.columns

Index(['CensusTract', 'State', 'County', 'Urban', 'Pop2010', 'OHU2010',
       'GroupQuartersFlag', 'NUMGQTRS', 'PCTGQTRS', 'LILATracts_1And10',
       ...
       'TractSeniors', 'TractWhite', 'TractBlack', 'TractAsian', 'TractNHOPI',
       'TractAIAN', 'TractOMultir', 'TractHispanic', 'TractHUNV', 'TractSNAP'],
      dtype='object', length=147)

In [ ]:
food_access_raw_df = xlsx.parse('Food Access Research Atlas')
food_access_df = food_access_raw_df
# food_access_df

In [ ]:
variable_lookup = xlsx.parse('Variable Lookup')
variable_lookup

,Field,LongName,Description
0,CensusTract,Census tract,Census tract number
1,State,State,State name
2,County,County,County name
3,Urban,Urban tract,Flag for urban tract
4,POP2010,"Population, tract total",Population count from 2010 census
...,...,...,...
142,TractAIAN,Tract American Indian and Alaska Native popula...,Total count of American Indian and Alaska Nati...
143,TractOMultir,"Tract Other/Multiple race population, number",Total count of Other/Multiple race population ...
144,TractHispanic,"Tract Hispanic or Latino population, number",Total count of Hispanic or Latino population i...
145,TractHUNV,"Tract housing units without a vehicle, number",Total count of housing units without a vehicle...
146,TractSNAP,"Tract housing units receiving SNAP benefits, n...",Total count of housing units receiving SNAP be...

In [ ]:
def row_col_filtererer(df, column_regex=None, longname_regex=None):
  '''Because the the this function gets the variable names and longnames 
  from variable_lookup, and because variable_lookup summarizes the raw df,
  this function should be run before the raw df's colums are processed'''
  # Collect columns to filter out by column_regex and longname_regex
  if column_regex is not None:
    column_to_drop = variable_lookup.iloc[:,0].str.contains(column_regex)
  if longname_regex is not None:
    longname_to_drop = variable_lookup.iloc[:,1].str.contains(longname_regex)

  try:
    final_bool = column_to_drop + longname_to_drop
  except:
    try: final_bool = column_to_drop
    except:
      pass
    try:
      final_bool = longname_to_drop
    except:
      print("Looks like you forgot a regex (or two!)")

  return df[df.columns[~final_bool]]


row_col_filtererer(food_access_df, column_regex="LAPOP|LALOW", longname_regex='(Group)|(Vehicle|Low) (access|income).*number$')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  if __name__ == '__main__':

,CensusTract,State,County,Urban,Pop2010,OHU2010,LILATracts_1And10,LILATracts_halfAnd10,LILATracts_1And20,LILATracts_Vehicle,...,TractSeniors,TractWhite,TractBlack,TractAsian,TractNHOPI,TractAIAN,TractOMultir,TractHispanic,TractHUNV,TractSNAP
0,1001020100,Alabama,Autauga County,1,1912,693,0,0,0,0,...,221.0,1622.0,217.0,14.0,0.0,14.0,45.0,44.0,6.0,102.0
1,1001020200,Alabama,Autauga County,1,2170,743,1,1,1,0,...,214.0,888.0,1217.0,5.0,0.0,5.0,55.0,75.0,89.0,156.0
2,1001020300,Alabama,Autauga County,1,3373,1256,0,0,0,0,...,439.0,2576.0,647.0,17.0,5.0,11.0,117.0,87.0,99.0,172.0
3,1001020400,Alabama,Autauga County,1,4386,1722,0,0,0,0,...,904.0,4086.0,193.0,18.0,4.0,11.0,74.0,85.0,21.0,98.0
4,1001020500,Alabama,Autauga County,1,10766,4082,0,0,0,0,...,1126.0,8666.0,1437.0,296.0,9.0,48.0,310.0,355.0,230.0,339.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72526,56043000200,Wyoming,Washakie County,0,3326,1317,0,0,0,0,...,593.0,3106.0,6.0,15.0,0.0,27.0,172.0,309.0,61.0,64.0
72527,56043000301,Wyoming,Washakie County,1,2665,1154,0,0,0,0,...,399.0,2377.0,5.0,23.0,0.0,40.0,220.0,446.0,88.0,41.0
72528,56043000302,Wyoming,Washakie County,1,2542,1021,0,0,0,0,...,516.0,2312.0,11.0,10.0,1.0,26.0,182.0,407.0,23.0,64.0
72529,56045951100,Wyoming,Weston County,0,3314,1322,0,0,0,0,...,499.0,3179.0,15.0,10.0,1.0,47.0,62.0,91.0,47.0,34.0
72530,56045951300,Wyoming,Weston County,1,3894,1699,0,0,0,0,...,650.0,3706.0,6.0,10.0,2.0,44.0,126.0,125.0,34.0,110.0

In [ ]:
zip_tract_path = 'Outside_data/ZIP_TRACT_122019.xlsx'
zip_tract_df = pd.ExcelFile(zip_tract_path)

# zip_tract_df.sheet_names - only sheet name is zip_tract_122019

zip_tract_df = zip_tract_df.parse('zip_tract_122019')
zip_tract_df

          ZIP        TRACT  RES_RATIO  BUS_RATIO  OTH_RATIO  TOT_RATIO
0         501  36103158607   0.000000   1.000000   0.000000   1.000000
1         601  72001956700   0.623135   0.416021   0.433121   0.605512
2         601  72113071700   0.188169   0.211886   0.133758   0.188271
3         601  72001956800   0.017729   0.025840   0.089172   0.020029
4         601  72001956600   0.166052   0.341085   0.337580   0.181221
...       ...          ...        ...        ...        ...        ...
170184  99925   2198000200   0.000000   0.000000   1.000000   1.000000
170185  99926   2198940100   0.000000   0.000000   1.000000   1.000000
170186  99927   2198000100   0.000000   0.000000   1.000000   1.000000
170187  99928   2130000100   0.000000   0.000000   1.000000   1.000000
170188  99929   2275000300   0.000000   0.000000   1.000000   1.000000

[170189 rows x 6 columns]

In [ ]:
food_access_df_dup = food_access_df

food_access_tracts = food_access_df['CensusTract']
tract_zip = zip_tract_df['TRACT']

tract_zip_reverse_index = {tract_zip: i for i, tract_zip in enumerate(tract_zip)}

zips_for_tracts = []
for tract_food_zip in food_access_tracts:
  if tract_food_zip in tract_zip_reverse_index:
    zips_for_tracts.append(
        zip_tract_df.at[tract_zip_reverse_index[tract_food_zip], 'ZIP']
    )
  if tract_food_zip not in tract_zip_reverse_index:
    zips_for_tracts.append('NA')


food_access_df = food_access_df.assign(ZIP=zips_for_tracts)
# food_access_df

In [ ]:
# food_access_df_dup = food_access_df
# food_access_df = food_access_df_dup
# Filter out variables that are dependent with other variables
#xlsx.parse('Variable Lookup')['LongName']

cols = food_access_df.columns.tolist()
cols = [cols[-1]] + cols[:-1]
food_access_df = food_access_df[cols]
food_access_df.columns
# food_access_df

Index(['ZIP', 'CensusTract', 'State', 'County', 'Urban', 'Pop2010', 'OHU2010',
       'GroupQuartersFlag', 'NUMGQTRS', 'PCTGQTRS',
       ...
       'TractSeniors', 'TractWhite', 'TractBlack', 'TractAsian', 'TractNHOPI',
       'TractAIAN', 'TractOMultir', 'TractHispanic', 'TractHUNV', 'TractSNAP'],
      dtype='object', length=148)

In [ ]:
food_access_df.rename(columns={'ZIP': 'Zip Code'}, inplace=True)
# food_access_df

In [ ]:
# food_access_df_dup = food_access_df
# food_access_df = food_access_df_dup
cols_and_nas = {col: food_access_df[col].isna().sum() for col in food_access_df.columns}
# print(sorted(cols_and_nas.items(), key = lambda x:x[1], reverse=True))

cols_to_drop = []
for obs in cols_and_nas.items():
  if (obs[1] > 5000):
    cols_to_drop.append(obs[0])
food_access_df.drop(cols_to_drop, axis=1, inplace=True)

rows_to_drop = food_access_df.isnull().any(axis=1)
food_access_df = food_access_df[~rows_to_drop]
food_access_df.sample(n=20, axis=0).head(50)

,Zip Code,CensusTract,State,County,Urban,Pop2010,OHU2010,GroupQuartersFlag,NUMGQTRS,PCTGQTRS,...,TractSeniors,TractWhite,TractBlack,TractAsian,TractNHOPI,TractAIAN,TractOMultir,TractHispanic,TractHUNV,TractSNAP
11984,80210,8031003003,Colorado,Denver County,1,3138,1151,0,985.0,31.389420,...,88.0,2723.0,52.0,209.0,0.0,13.0,141.0,199.0,151.0,33.0
27683,40356,21113060102,Kentucky,Jessamine County,1,6834,2495,0,269.0,3.936201,...,673.0,6350.0,236.0,36.0,1.0,5.0,206.0,203.0,96.0,479.0
63855,77401,48201420900,Texas,Harris County,1,6231,2167,0,3.0,0.048146,...,652.0,4959.0,116.0,879.0,1.0,16.0,260.0,506.0,82.0,19.0
50725,44123,39035152102,Ohio,Cuyahoga County,1,4791,1949,0,0.0,0.000000,...,530.0,2463.0,2139.0,21.0,0.0,5.0,163.0,107.0,116.0,327.0
24770,46226,18097330805,Indiana,Marion County,1,3056,1249,0,0.0,0.000000,...,197.0,1115.0,1484.0,16.0,6.0,12.0,423.0,433.0,322.0,328.0
24550,46324,18089021700,Indiana,Lake County,1,4913,1789,0,0.0,0.000000,...,517.0,3144.0,987.0,27.0,5.0,24.0,726.0,1491.0,88.0,314.0
62467,75011,48113013720,Texas,Dallas County,1,5430,1934,0,6.0,0.110497,...,522.0,3269.0,541.0,411.0,1.0,36.0,1172.0,2406.0,28.0,135.0
22768,60543,17093890201,Illinois,Kendall County,1,4389,1531,0,0.0,0.000000,...,428.0,3646.0,213.0,51.0,4.0,13.0,462.0,1086.0,35.0,178.0
6818,90734,6037670701,California,Los Angeles County,1,6882,2489,0,78.0,1.133391,...,1506.0,4785.0,355.0,1099.0,6.0,19.0,618.0,1275.0,109.0,31.0
42842,87580,35055952100,New Mexico,Taos County,0,6383,2967,0,58.0,0.908664,...,1152.0,5065.0,11.0,25.0,2.0,90.0,1190.0,3135.0,96.0,343.0
17920,34242,12115001905,Florida,Sarasota County,1,1355,794,0,0.0,0.000000,...,857.0,1323.0,4.0,10.0,0.0,5.0,13.0,35.0,11.0,0.0
59492,57006,46011959000,South Dakota,Brookings County,1,4985,2180,0,0.0,0.000000,...,574.0,4593.0,15.0,201.0,0.0,44.0,132.0,93.0,243.0,176.0
23000,62656,17107953300,Illinois,Logan County,1,3520,1567,0,24.0,0.681818,...,623.0,3385.0,62.0,14.0,2.0,8.0,49.0,51.0,194.0,212.0
27155,41059,21037051901,Kentucky,Campbell County,0,4986,1713,0,0.0,0.000000,...,470.0,4865.0,26.0,34.0,0.0,7.0,54.0,37.0,37.0,77.0
16848,34746,12097040901,Florida,Osceola County,1,3720,1126,0,0.0,0.000000,...,313.0,2437.0,293.0,269.0,6.0,16.0,699.0,1800.0,43.0,170.0
211,35622,1043964400,Alabama,Cullman County,0,4112,1605,0,0.0,0.000000,...,573.0,3998.0,2.0,19.0,0.0,17.0,76.0,97.0,53.0,182.0
26014,50325,19153011201,Iowa,Polk County,1,4978,2225,0,4.0,0.080354,...,890.0,4535.0,179.0,115.0,3.0,7.0,139.0,186.0,157.0,308.0
14532,33316,12011090102,Florida,Broward County,0,1896,1114,0,22.0,1.160338,...,520.0,1751.0,70.0,19.0,0.0,3.0,53.0,309.0,64.0,41.0
27250,42366,21059001601,Kentucky,Daviess County,1,3822,1344,0,0.0,0.000000,...,393.0,3668.0,21.0,81.0,0.0,0.0,52.0,26.0,35.0,61.0
39809,89005,32003005502,Nevada,Clark County,1,4311,1751,0,2.0,0.046393,...,944.0,4033.0,16.0,51.0,18.0,36.0,157.0,308.0,112.0,80.0

In [ ]:
write_csv(food_access_df)

Output dataframe is "food_access_df"
Suck-sess!

In [ ]:
### End of food_access_df dataframe cleaning

In [ ]:
sahie_path = 'Outside_data/sahie_2019.csv'

sahie_csv = pd.read_csv(sahie_path, on_bad_lines='skip')
sahie_df_raw = pd.DataFrame(sahie_csv)
sahie_df_working = sahie_df_raw
sahie_df_raw

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (9,10,11,12,13,14,15,16,17,18,19,20,21,22) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,year,version,statefips,countyfips,geocat,agecat,racecat,sexcat,iprcat,NIPR,...,pctui_moe,PCTIC,pctic_moe,PCTELIG,pctelig_moe,PCTLIIC,pctliic_moe,state_name,county_name,Unnamed: 25
0,2019,,1,0,40,0,0,0,0,3946002,...,0.3,88.4,0.3,11.6,0.3,88.4,0.3,Alabama ...,,NaN
1,2019,,1,0,40,0,0,0,1,1409975,...,0.6,81.1,0.6,6.8,0.2,29.0,0.4,Alabama ...,,NaN
2,2019,,1,0,40,0,0,0,2,1749910,...,0.6,82.0,0.6,8.0,0.3,36.3,0.4,Alabama ...,,NaN
3,2019,,1,0,40,0,0,0,3,942752,...,0.8,80.1,0.8,4.8,0.2,19.1,0.3,Alabama ...,,NaN
4,2019,,1,0,40,0,0,0,4,2634493,...,0.4,84.9,0.4,10.1,0.3,56.7,0.4,Alabama ...,,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10995,2019,,4,13,50,0,0,1,3,330614,...,1.4,78.1,1.4,3.9,0.3,13.8,0.4,Arizona ...,Maricopa County,NaN
10996,2019,,4,13,50,0,0,1,4,1120054,...,0.7,80.5,0.7,11.7,0.4,48.3,0.7,Arizona ...,Maricopa County,NaN
10997,2019,,4,13,50,0,0,1,5,789440,...,0.6,81.5,0.6,7.8,0.3,34.5,0.6,Arizona ...,Maricopa County,NaN
10998,2019,,4,13,50,0,0,2,0,1860758,...,0.5,87.8,0.5,12.2,0.5,87.8,0.5,Arizona ...,Maricopa County,NaN
10999,2019,,4,13,50,0,0,2,1,579906,...,1.0,80.1,1.0,6.2,0.3,24.9,0.5,Arizona ...,Maricopa County,NaN

In [ ]:
# Delete
np.array(sahie_df_raw.statefips)

array([ 1,  1,  1, ..., 56, 56, 56])

In [ ]:
### Secondary files
sahie_metadata_path = 'Outside_data/sahie_2019_metadata.csv'
sahie_metadata_csv = pd.read_csv(sahie_metadata_path, on_bad_lines='skip')
sahie_metadata = pd.DataFrame(sahie_metadata_csv)

fips_zip_path = 'Outside_data/ZIP-COUNTY-FIPS_2018-03.csv'
fips_zip_csv = pd.read_csv(fips_zip_path)
fips_zip_df = pd.DataFrame(fips_zip_csv)

# sahie_metadata
print(fips_zip_df['STCOUNTYFP'])
print(fips_zip_df['ZIP'])

0         1001
1         1001
2         1001
3         1001
4         1001
         ...
53957    78010
53958    78010
53959    78010
53960    78020
53961    78030
Name: STCOUNTYFP, Length: 53962, dtype: int64
0        36091
1        36758
2        36006
3        36067
4        36701
         ...
53957      820
53958      840
53959      850
53960      830
53961      802
Name: ZIP, Length: 53962, dtype: int64

In [ ]:
# merged_state_countyfip = list(zip(sahie_df_raw['statefips'], sahie_df_raw['countyfips']))
# # df = sahie_df_raw.assign(merged_fips = merged_state_countyfip)

def merge_fips(statefip, countyfip):
  if (len(countyfip) == 1):
    countyfip = f'00{countyfip}'
  if (len(countyfip) == 2):
    countyfip = '0' + countyfip

  if (len(statefip) == 1):
    statefip = '0' + statefip

  fip = statefip + countyfip
  return fip

In [ ]:
merged_fips = np.array(map(merge_fips, sahie_df_raw['statefips'].astype('str'), sahie_df_raw['countyfips'].astype('str')))
sahie_df_working = sahie_df_working.assign(FIPS = merged_fips)
sahie_df_working['FIPS'] = sahie_df_working['FIPS'].apply(int)
print(sorted(set(sahie_df_working['FIPS'])))
print(sorted(set(fips_zip_df['STCOUNTYFP'])))

[1000, 1001, 1003, 1005, 1007, 1009, 1011, 1013, 1015, 1017, 1019, 1021, 1023, 1025, 1027, 1029, 1031, 1033, 1035, 1037, 1039, 1041, 1043, 1045, 1047, 1049, 1051, 1053, 1055, 1057, 1059, 1061, 1063, 1065, 1067, 1069, 1071, 1073, 1075, 1077, 1079, 1081, 1083, 1085, 1087, 1089, 1091, 1093, 1095, 1097, 1099, 1101, 1103, 1105, 1107, 1109, 1111, 1113, 1115, 1117, 1119, 1121, 1123, 1125, 1127, 1129, 1131, 1133, 2000, 2013, 2016, 2020, 2050, 2060, 2068, 2070, 2090, 2100, 2105, 2110, 2122, 2130, 2150, 2158, 2164, 2170, 2180, 2185, 2188, 2195, 2198, 2220, 2230, 2240, 2261, 2275, 2282, 2290, 4000, 4001, 4003, 4005, 4007, 4009, 4011, 4012, 4013, 4015, 4017, 4019, 4021, 4023, 4025, 4027, 5000, 5001, 5003, 5005, 5007, 5009, 5011, 5013, 5015, 5017, 5019, 5021, 5023, 5025, 5027, 5029, 5031, 5033, 5035, 5037, 5039, 5041, 5043, 5045, 5047, 5049, 5051, 5053, 5055, 5057, 5059, 5061, 5063, 5065, 5067, 5069, 5071, 5073, 5075, 5077, 5079, 5081, 5083, 5085, 5087, 5089, 5091, 5093, 5095, 5097, 5099, 5101, 5103, 5105, 5107, 5109, 5111, 5113, 5115, 5117, 5119, 5121, 5123, 5125, 5127, 5129, 5131, 5133, 5135, 5137, 5139, 5141, 5143, 5145, 5147, 5149, 6000, 6001, 6003, 6005, 6007, 6009, 6011, 6013, 6015, 6017, 6019, 6021, 6023, 6025, 6027, 6029, 6031, 6033, 6035, 6037, 6039, 6041, 6043, 6045, 6047, 6049, 6051, 6053, 6055, 6057, 6059, 6061, 6063, 6065, 6067, 6069, 6071, 6073, 6075, 6077, 6079, 6081, 6083, 6085, 6087, 6089, 6091, 6093, 6095, 6097, 6099, 6101, 6103, 6105, 6107, 6109, 6111, 6113, 6115, 8000, 8001, 8003, 8005, 8007, 8009, 8011, 8013, 8014, 8015, 8017, 8019, 8021, 8023, 8025, 8027, 8029, 8031, 8033, 8035, 8037, 8039, 8041, 8043, 8045, 8047, 8049, 8051, 8053, 8055, 8057, 8059, 8061, 8063, 8065, 8067, 8069, 8071, 8073, 8075, 8077, 8079, 8081, 8083, 8085, 8087, 8089, 8091, 8093, 8095, 8097, 8099, 8101, 8103, 8105, 8107, 8109, 8111, 8113, 8115, 8117, 8119, 8121, 8123, 8125, 9000, 9001, 9003, 9005, 9007, 9009, 9011, 9013, 9015, 10000, 10001, 10003, 10005, 11000, 11001, 12000, 12001, 12003, 12005, 12007, 12009, 12011, 12013, 12015, 12017, 12019, 12021, 12023, 12027, 12029, 12031, 12033, 12035, 12037, 12039, 12041, 12043, 12045, 12047, 12049, 12051, 12053, 12055, 12057, 12059, 12061, 12063, 12065, 12067, 12069, 12071, 12073, 12075, 12077, 12079, 12081, 12083, 12085, 12086, 12087, 12089, 12091, 12093, 12095, 12097, 12099, 12101, 12103, 12105, 12107, 12109, 12111, 12113, 12115, 12117, 12119, 12121, 12123, 12125, 12127, 12129, 12131, 12133, 13000, 13001, 13003, 13005, 13007, 13009, 13011, 13013, 13015, 13017, 13019, 13021, 13023, 13025, 13027, 13029, 13031, 13033, 13035, 13037, 13039, 13043, 13045, 13047, 13049, 13051, 13053, 13055, 13057, 13059, 13061, 13063, 13065, 13067, 13069, 13071, 13073, 13075, 13077, 13079, 13081, 13083, 13085, 13087, 13089, 13091, 13093, 13095, 13097, 13099, 13101, 13103, 13105, 13107, 13109, 13111, 13113, 13115, 13117, 13119, 13121, 13123, 13125, 13127, 13129, 13131, 13133, 13135, 13137, 13139, 13141, 13143, 13145, 13147, 13149, 13151, 13153, 13155, 13157, 13159, 13161, 13163, 13165, 13167, 13169, 13171, 13173, 13175, 13177, 13179, 13181, 13183, 13185, 13187, 13189, 13191, 13193, 13195, 13197, 13199, 13201, 13205, 13207, 13209, 13211, 13213, 13215, 13217, 13219, 13221, 13223, 13225, 13227, 13229, 13231, 13233, 13235, 13237, 13239, 13241, 13243, 13245, 13247, 13249, 13251, 13253, 13255, 13257, 13259, 13261, 13263, 13265, 13267, 13269, 13271, 13273, 13275, 13277, 13279, 13281, 13283, 13285, 13287, 13289, 13291, 13293, 13295, 13297, 13299, 13301, 13303, 13305, 13307, 13309, 13311, 13313, 13315, 13317, 13319, 13321, 15000, 15001, 15003, 15005, 15007, 15009, 16000, 16001, 16003, 16005, 16007, 16009, 16011, 16013, 16015, 16017, 16019, 16021, 16023, 16025, 16027, 16029, 16031, 16033, 16035, 16037, 16039, 16041, 16043, 16045, 16047, 16049, 16051, 16053, 16055, 16057, 16059, 16061, 16063, 16065, 16067, 16069, 16071, 16073, 16075, 16077, 16079, 16081, 16083, 16085, 16087, 17000, 17001, 17003, 17005, 17007, 17009, 17011, 17013, 17015, 17017, 17019, 17021, 17023, 17025, 17027, 17029, 17031, 17033, 17035, 17037, 17039, 17041, 17043, 17045, 17047, 17049, 17051, 17053, 17055, 17057, 17059, 17061, 17063, 17065, 17067, 17069, 17071, 17073, 17075, 17077, 17079, 17081, 17083, 17085, 17087, 17089, 17091, 17093, 17095, 17097, 17099, 17101, 17103, 17105, 17107, 17109, 17111, 17113, 17115, 17117, 17119, 17121, 17123, 17125, 17127, 17129, 17131, 17133, 17135, 17137, 17139, 17141, 17143, 17145, 17147, 17149, 17151, 17153, 17155, 17157, 17159, 17161, 17163, 17165, 17167, 17169, 17171, 17173, 17175, 17177, 17179, 17181, 17183, 17185, 17187, 17189, 17191, 17193, 17195, 17197, 17199, 17201, 17203, 18000, 18001, 18003, 18005, 18007, 18009, 18011, 18013, 18015, 18017, 18019, 18021, 18023, 18025, 18027, 18029, 18031, 18033, 18035, 18037, 18039, 18041, 18043, 18045, 18047, 18049, 18051, 18053, 18055, 18057, 18059, 18061, 18063, 18065, 18067, 18069, 18071, 18073, 18075, 18077, 18079, 18081, 18083, 18085, 18087, 18089, 18091, 18093, 18095, 18097, 18099, 18101, 18103, 18105, 18107, 18109, 18111, 18113, 18115, 18117, 18119, 18121, 18123, 18125, 18127, 18129, 18131, 18133, 18135, 18137, 18139, 18141, 18143, 18145, 18147, 18149, 18151, 18153, 18155, 18157, 18159, 18161, 18163, 18165, 18167, 18169, 18171, 18173, 18175, 18177, 18179, 18181, 18183, 19000, 19001, 19003, 19005, 19007, 19009, 19011, 19013, 19015, 19017, 19019, 19021, 19023, 19025, 19027, 19029, 19031, 19033, 19035, 19037, 19039, 19041, 19043, 19045, 19047, 19049, 19051, 19053, 19055, 19057, 19059, 19061, 19063, 19065, 19067, 19069, 19071, 19073, 19075, 19077, 19079, 19081, 19083, 19085, 19087, 19089, 19091, 19093, 19095, 19097, 19099, 19101, 19103, 19105, 19107, 19109, 19111, 19113, 19115, 19117, 19119, 19121, 19123, 19125, 19127, 19129, 19131, 19133, 19135, 19137, 19139, 19141, 19143, 19145, 19147, 19149, 19151, 19153, 19155, 19157, 19159, 19161, 19163, 19165, 19167, 19169, 19171, 19173, 19175, 19177, 19179, 19181, 19183, 19185, 19187, 19189, 19191, 19193, 19195, 19197, 20000, 20001, 20003, 20005, 20007, 20009, 20011, 20013, 20015, 20017, 20019, 20021, 20023, 20025, 20027, 20029, 20031, 20033, 20035, 20037, 20039, 20041, 20043, 20045, 20047, 20049, 20051, 20053, 20055, 20057, 20059, 20061, 20063, 20065, 20067, 20069, 20071, 20073, 20075, 20077, 20079, 20081, 20083, 20085, 20087, 20089, 20091, 20093, 20095, 20097, 20099, 20101, 20103, 20105, 20107, 20109, 20111, 20113, 20115, 20117, 20119, 20121, 20123, 20125, 20127, 20129, 20131, 20133, 20135, 20137, 20139, 20141, 20143, 20145, 20147, 20149, 20151, 20153, 20155, 20157, 20159, 20161, 20163, 20165, 20167, 20169, 20171, 20173, 20175, 20177, 20179, 20181, 20183, 20185, 20187, 20189, 20191, 20193, 20195, 20197, 20199, 20201, 20203, 20205, 20207, 20209, 21000, 21001, 21003, 21005, 21007, 21009, 21011, 21013, 21015, 21017, 21019, 21021, 21023, 21025, 21027, 21029, 21031, 21033, 21035, 21037, 21039, 21041, 21043, 21045, 21047, 21049, 21051, 21053, 21055, 21057, 21059, 21061, 21063, 21065, 21067, 21069, 21071, 21073, 21075, 21077, 21079, 21081, 21083, 21085, 21087, 21089, 21091, 21093, 21095, 21097, 21099, 21101, 21103, 21105, 21107, 21109, 21111, 21113, 21115, 21117, 21119, 21121, 21123, 21125, 21127, 21129, 21131, 21133, 21135, 21137, 21139, 21141, 21143, 21145, 21147, 21149, 21151, 21153, 21155, 21157, 21159, 21161, 21163, 21165, 21167, 21169, 21171, 21173, 21175, 21177, 21179, 21181, 21183, 21185, 21187, 21189, 21191, 21193, 21195, 21197, 21199, 21201, 21203, 21205, 21207, 21209, 21211, 21213, 21215, 21217, 21219, 21221, 21223, 21225, 21227, 21229, 21231, 21233, 21235, 21237, 21239, 22000, 22001, 22003, 22005, 22007, 22009, 22011, 22013, 22015, 22017, 22019, 22021, 22023, 22025, 22027, 22029, 22031, 22033, 22035, 22037, 22039, 22041, 22043, 22045, 22047, 22049, 22051, 22053, 22055, 22057, 22059, 22061, 22063, 22065, 22067, 22069, 22071, 22073, 22075, 22077, 22079, 22081, 22083, 22085, 22087, 22089, 22091, 22093, 22095, 22097, 22099, 22101, 22103, 22105, 22107, 22109, 22111, 22113, 22115, 22117, 22119, 22121, 22123, 22125, 22127, 23000, 23001, 23003, 23005, 23007, 23009, 23011, 23013, 23015, 23017, 23019, 23021, 23023, 23025, 23027, 23029, 23031, 24000, 24001, 24003, 24005, 24009, 24011, 24013, 24015, 24017, 24019, 24021, 24023, 24025, 24027, 24029, 24031, 24033, 24035, 24037, 24039, 24041, 24043, 24045, 24047, 24510, 25000, 25001, 25003, 25005, 25007, 25009, 25011, 25013, 25015, 25017, 25019, 25021, 25023, 25025, 25027, 26000, 26001, 26003, 26005, 26007, 26009, 26011, 26013, 26015, 26017, 26019, 26021, 26023, 26025, 26027, 26029, 26031, 26033, 26035, 26037, 26039, 26041, 26043, 26045, 26047, 26049, 26051, 26053, 26055, 26057, 26059, 26061, 26063, 26065, 26067, 26069, 26071, 26073, 26075, 26077, 26079, 26081, 26083, 26085, 26087, 26089, 26091, 26093, 26095, 26097, 26099, 26101, 26103, 26105, 26107, 26109, 26111, 26113, 26115, 26117, 26119, 26121, 26123, 26125, 26127, 26129, 26131, 26133, 26135, 26137, 26139, 26141, 26143, 26145, 26147, 26149, 26151, 26153, 26155, 26157, 26159, 26161, 26163, 26165, 27000, 27001, 27003, 27005, 27007, 27009, 27011, 27013, 27015, 27017, 27019, 27021, 27023, 27025, 27027, 27029, 27031, 27033, 27035, 27037, 27039, 27041, 27043, 27045, 27047, 27049, 27051, 27053, 27055, 27057, 27059, 27061, 27063, 27065, 27067, 27069, 27071, 27073, 27075, 27077, 27079, 27081, 27083, 27085, 27087, 27089, 27091, 27093, 27095, 27097, 27099, 27101, 27103, 27105, 27107, 27109, 27111, 27113, 27115, 27117, 27119, 27121, 27123, 27125, 27127, 27129, 27131, 27133, 27135, 27137, 27139, 27141, 27143, 27145, 27147, 27149, 27151, 27153, 27155, 27157, 27159, 27161, 27163, 27165, 27167, 27169, 27171, 27173, 28000, 28001, 28003, 28005, 28007, 28009, 28011, 28013, 28015, 28017, 28019, 28021, 28023, 28025, 28027, 28029, 28031, 28033, 28035, 28037, 28039, 28041, 28043, 28045, 28047, 28049, 28051, 28053, 28055, 28057, 28059, 28061, 28063, 28065, 28067, 28069, 28071, 28073, 28075, 28077, 28079, 28081, 28083, 28085, 28087, 28089, 28091, 28093, 28095, 28097, 28099, 28101, 28103, 28105, 28107, 28109, 28111, 28113, 28115, 28117, 28119, 28121, 28123, 28125, 28127, 28129, 28131, 28133, 28135, 28137, 28139, 28141, 28143, 28145, 28147, 28149, 28151, 28153, 28155, 28157, 28159, 28161, 28163, 29000, 29001, 29003, 29005, 29007, 29009, 29011, 29013, 29015, 29017, 29019, 29021, 29023, 29025, 29027, 29029, 29031, 29033, 29035, 29037, 29039, 29041, 29043, 29045, 29047, 29049, 29051, 29053, 29055, 29057, 29059, 29061, 29063, 29065, 29067, 29069, 29071, 29073, 29075, 29077, 29079, 29081, 29083, 29085, 29087, 29089, 29091, 29093, 29095, 29097, 29099, 29101, 29103, 29105, 29107, 29109, 29111, 29113, 29115, 29117, 29119, 29121, 29123, 29125, 29127, 29129, 29131, 29133, 29135, 29137, 29139, 29141, 29143, 29145, 29147, 29149, 29151, 29153, 29155, 29157, 29159, 29161, 29163, 29165, 29167, 29169, 29171, 29173, 29175, 29177, 29179, 29181, 29183, 29185, 29186, 29187, 29189, 29195, 29197, 29199, 29201, 29203, 29205, 29207, 29209, 29211, 29213, 29215, 29217, 29219, 29221, 29223, 29225, 29227, 29229, 29510, 30000, 30001, 30003, 30005, 30007, 30009, 30011, 30013, 30015, 30017, 30019, 30021, 30023, 30025, 30027, 30029, 30031, 30033, 30035, 30037, 30039, 30041, 30043, 30045, 30047, 30049, 30051, 30053, 30055, 30057, 30059, 30061, 30063, 30065, 30067, 30069, 30071, 30073, 30075, 30077, 30079, 30081, 30083, 30085, 30087, 30089, 30091, 30093, 30095, 30097, 30099, 30101, 30103, 30105, 30107, 30109, 30111, 31000, 31001, 31003, 31005, 31007, 31009, 31011, 31013, 31015, 31017, 31019, 31021, 31023, 31025, 31027, 31029, 31031, 31033, 31035, 31037, 31039, 31041, 31043, 31045, 31047, 31049, 31051, 31053, 31055, 31057, 31059, 31061, 31063, 31065, 31067, 31069, 31071, 31073, 31075, 31077, 31079, 31081, 31083, 31085, 31087, 31089, 31091, 31093, 31095, 31097, 31099, 31101, 31103, 31105, 31107, 31109, 31111, 31113, 31115, 31117, 31119, 31121, 31123, 31125, 31127, 31129, 31131, 31133, 31135, 31137, 31139, 31141, 31143, 31145, 31147, 31149, 31151, 31153, 31155, 31157, 31159, 31161, 31163, 31165, 31167, 31169, 31171, 31173, 31175, 31177, 31179, 31181, 31183, 31185, 32000, 32001, 32003, 32005, 32007, 32009, 32011, 32013, 32015, 32017, 32019, 32021, 32023, 32027, 32029, 32031, 32033, 32510, 33000, 33001, 33003, 33005, 33007, 33009, 33011, 33013, 33015, 33017, 33019, 34000, 34001, 34003, 34005, 34007, 34009, 34011, 34013, 34015, 34017, 34019, 34021, 34023, 34025, 34027, 34029, 34031, 34033, 34035, 34037, 34039, 34041, 35000, 35001, 35003, 35005, 35006, 35007, 35009, 35011, 35013, 35015, 35017, 35019, 35021, 35023, 35025, 35027, 35028, 35029, 35031, 35033, 35035, 35037, 35039, 35041, 35043, 35045, 35047, 35049, 35051, 35053, 35055, 35057, 35059, 35061, 36000, 36001, 36003, 36005, 36007, 36009, 36011, 36013, 36015, 36017, 36019, 36021, 36023, 36025, 36027, 36029, 36031, 36033, 36035, 36037, 36039, 36041, 36043, 36045, 36047, 36049, 36051, 36053, 36055, 36057, 36059, 36061, 36063, 36065, 36067, 36069, 36071, 36073, 36075, 36077, 36079, 36081, 36083, 36085, 36087, 36089, 36091, 36093, 36095, 36097, 36099, 36101, 36103, 36105, 36107, 36109, 36111, 36113, 36115, 36117, 36119, 36121, 36123, 37000, 37001, 37003, 37005, 37007, 37009, 37011, 37013, 37015, 37017, 37019, 37021, 37023, 37025, 37027, 37029, 37031, 37033, 37035, 37037, 37039, 37041, 37043, 37045, 37047, 37049, 37051, 37053, 37055, 37057, 37059, 37061, 37063, 37065, 37067, 37069, 37071, 37073, 37075, 37077, 37079, 37081, 37083, 37085, 37087, 37089, 37091, 37093, 37095, 37097, 37099, 37101, 37103, 37105, 37107, 37109, 37111, 37113, 37115, 37117, 37119, 37121, 37123, 37125, 37127, 37129, 37131, 37133, 37135, 37137, 37139, 37141, 37143, 37145, 37147, 37149, 37151, 37153, 37155, 37157, 37159, 37161, 37163, 37165, 37167, 37169, 37171, 37173, 37175, 37177, 37179, 37181, 37183, 37185, 37187, 37189, 37191, 37193, 37195, 37197, 37199, 38000, 38001, 38003, 38005, 38007, 38009, 38011, 38013, 38015, 38017, 38019, 38021, 38023, 38025, 38027, 38029, 38031, 38033, 38035, 38037, 38039, 38041, 38043, 38045, 38047, 38049, 38051, 38053, 38055, 38057, 38059, 38061, 38063, 38065, 38067, 38069, 38071, 38073, 38075, 38077, 38079, 38081, 38083, 38085, 38087, 38089, 38091, 38093, 38095, 38097, 38099, 38101, 38103, 38105, 39000, 39001, 39003, 39005, 39007, 39009, 39011, 39013, 39015, 39017, 39019, 39021, 39023, 39025, 39027, 39029, 39031, 39033, 39035, 39037, 39039, 39041, 39043, 39045, 39047, 39049, 39051, 39053, 39055, 39057, 39059, 39061, 39063, 39065, 39067, 39069, 39071, 39073, 39075, 39077, 39079, 39081, 39083, 39085, 39087, 39089, 39091, 39093, 39095, 39097, 39099, 39101, 39103, 39105, 39107, 39109, 39111, 39113, 39115, 39117, 39119, 39121, 39123, 39125, 39127, 39129, 39131, 39133, 39135, 39137, 39139, 39141, 39143, 39145, 39147, 39149, 39151, 39153, 39155, 39157, 39159, 39161, 39163, 39165, 39167, 39169, 39171, 39173, 39175, 40000, 40001, 40003, 40005, 40007, 40009, 40011, 40013, 40015, 40017, 40019, 40021, 40023, 40025, 40027, 40029, 40031, 40033, 40035, 40037, 40039, 40041, 40043, 40045, 40047, 40049, 40051, 40053, 40055, 40057, 40059, 40061, 40063, 40065, 40067, 40069, 40071, 40073, 40075, 40077, 40079, 40081, 40083, 40085, 40087, 40089, 40091, 40093, 40095, 40097, 40099, 40101, 40103, 40105, 40107, 40109, 40111, 40113, 40115, 40117, 40119, 40121, 40123, 40125, 40127, 40129, 40131, 40133, 40135, 40137, 40139, 40141, 40143, 40145, 40147, 40149, 40151, 40153, 41000, 41001, 41003, 41005, 41007, 41009, 41011, 41013, 41015, 41017, 41019, 41021, 41023, 41025, 41027, 41029, 41031, 41033, 41035, 41037, 41039, 41041, 41043, 41045, 41047, 41049, 41051, 41053, 41055, 41057, 41059, 41061, 41063, 41065, 41067, 41069, 41071, 42000, 42001, 42003, 42005, 42007, 42009, 42011, 42013, 42015, 42017, 42019, 42021, 42023, 42025, 42027, 42029, 42031, 42033, 42035, 42037, 42039, 42041, 42043, 42045, 42047, 42049, 42051, 42053, 42055, 42057, 42059, 42061, 42063, 42065, 42067, 42069, 42071, 42073, 42075, 42077, 42079, 42081, 42083, 42085, 42087, 42089, 42091, 42093, 42095, 42097, 42099, 42101, 42103, 42105, 42107, 42109, 42111, 42113, 42115, 42117, 42119, 42121, 42123, 42125, 42127, 42129, 42131, 42133, 44000, 44001, 44003, 44005, 44007, 44009, 45000, 45001, 45003, 45005, 45007, 45009, 45011, 45013, 45015, 45017, 45019, 45021, 45023, 45025, 45027, 45029, 45031, 45033, 45035, 45037, 45039, 45041, 45043, 45045, 45047, 45049, 45051, 45053, 45055, 45057, 45059, 45061, 45063, 45065, 45067, 45069, 45071, 45073, 45075, 45077, 45079, 45081, 45083, 45085, 45087, 45089, 45091, 46000, 46003, 46005, 46007, 46009, 46011, 46013, 46015, 46017, 46019, 46021, 46023, 46025, 46027, 46029, 46031, 46033, 46035, 46037, 46039, 46041, 46043, 46045, 46047, 46049, 46051, 46053, 46055, 46057, 46059, 46061, 46063, 46065, 46067, 46069, 46071, 46073, 46075, 46077, 46079, 46081, 46083, 46085, 46087, 46089, 46091, 46093, 46095, 46097, 46099, 46101, 46102, 46103, 46105, 46107, 46109, 46111, 46115, 46117, 46119, 46121, 46123, 46125, 46127, 46129, 46135, 46137, 47000, 47001, 47003, 47005, 47007, 47009, 47011, 47013, 47015, 47017, 47019, 47021, 47023, 47025, 47027, 47029, 47031, 47033, 47035, 47037, 47039, 47041, 47043, 47045, 47047, 47049, 47051, 47053, 47055, 47057, 47059, 47061, 47063, 47065, 47067, 47069, 47071, 47073, 47075, 47077, 47079, 47081, 47083, 47085, 47087, 47089, 47091, 47093, 47095, 47097, 47099, 47101, 47103, 47105, 47107, 47109, 47111, 47113, 47115, 47117, 47119, 47121, 47123, 47125, 47127, 47129, 47131, 47133, 47135, 47137, 47139, 47141, 47143, 47145, 47147, 47149, 47151, 47153, 47155, 47157, 47159, 47161, 47163, 47165, 47167, 47169, 47171, 47173, 47175, 47177, 47179, 47181, 47183, 47185, 47187, 47189, 48000, 48001, 48003, 48005, 48007, 48009, 48011, 48013, 48015, 48017, 48019, 48021, 48023, 48025, 48027, 48029, 48031, 48033, 48035, 48037, 48039, 48041, 48043, 48045, 48047, 48049, 48051, 48053, 48055, 48057, 48059, 48061, 48063, 48065, 48067, 48069, 48071, 48073, 48075, 48077, 48079, 48081, 48083, 48085, 48087, 48089, 48091, 48093, 48095, 48097, 48099, 48101, 48103, 48105, 48107, 48109, 48111, 48113, 48115, 48117, 48119, 48121, 48123, 48125, 48127, 48129, 48131, 48133, 48135, 48137, 48139, 48141, 48143, 48145, 48147, 48149, 48151, 48153, 48155, 48157, 48159, 48161, 48163, 48165, 48167, 48169, 48171, 48173, 48175, 48177, 48179, 48181, 48183, 48185, 48187, 48189, 48191, 48193, 48195, 48197, 48199, 48201, 48203, 48205, 48207, 48209, 48211, 48213, 48215, 48217, 48219, 48221, 48223, 48225, 48227, 48229, 48231, 48233, 48235, 48237, 48239, 48241, 48243, 48245, 48247, 48249, 48251, 48253, 48255, 48257, 48259, 48261, 48263, 48265, 48267, 48269, 48271, 48273, 48275, 48277, 48279, 48281, 48283, 48285, 48287, 48289, 48291, 48293, 48295, 48297, 48299, 48301, 48303, 48305, 48307, 48309, 48311, 48313, 48315, 48317, 48319, 48321, 48323, 48325, 48327, 48329, 48331, 48333, 48335, 48337, 48339, 48341, 48343, 48345, 48347, 48349, 48351, 48353, 48355, 48357, 48359, 48361, 48363, 48365, 48367, 48369, 48371, 48373, 48375, 48377, 48379, 48381, 48383, 48385, 48387, 48389, 48391, 48393, 48395, 48397, 48399, 48401, 48403, 48405, 48407, 48409, 48411, 48413, 48415, 48417, 48419, 48421, 48423, 48425, 48427, 48429, 48431, 48433, 48435, 48437, 48439, 48441, 48443, 48445, 48447, 48449, 48451, 48453, 48455, 48457, 48459, 48461, 48463, 48465, 48467, 48469, 48471, 48473, 48475, 48477, 48479, 48481, 48483, 48485, 48487, 48489, 48491, 48493, 48495, 48497, 48499, 48501, 48503, 48505, 48507, 49000, 49001, 49003, 49005, 49007, 49009, 49011, 49013, 49015, 49017, 49019, 49021, 49023, 49025, 49027, 49029, 49031, 49033, 49035, 49037, 49039, 49041, 49043, 49045, 49047, 49049, 49051, 49053, 49055, 49057, 50000, 50001, 50003, 50005, 50007, 50009, 50011, 50013, 50015, 50017, 50019, 50021, 50023, 50025, 50027, 51000, 51001, 51003, 51005, 51007, 51009, 51011, 51013, 51015, 51017, 51019, 51021, 51023, 51025, 51027, 51029, 51031, 51033, 51035, 51036, 51037, 51041, 51043, 51045, 51047, 51049, 51051, 51053, 51057, 51059, 51061, 51063, 51065, 51067, 51069, 51071, 51073, 5

In [ ]:
# Returns a dictionary with fips as keys and list of all zips for each fip as values
fips_union = set(fips_zip_df['STCOUNTYFP']).intersection(set(sahie_df_working['FIPS']))
zips_in_each_fip = {}
fips_set = fips_union
for fip in fips_set:
  zips_in_each_fip[fip] = list(fips_zip_df[fips_zip_df['STCOUNTYFP'] == fip]['ZIP'])
  
dict_order = fips_zip_df[fips_zip_df['STCOUNTYFP'].isin(fips_union)]['ZIP']
dict_order = dict_order.tolist()
zips_in_each_fip = {k: zips_in_each_fip[k] for k in dict_order}

print(zips_in_each_fip)
print(zips_in_each_fip[1001])
# dict_order.tolist()

KeyError: ignored

In [ ]:
download_file('https://query.data.world/s/e3inb7voipg5l7be5csremp2py3xwv', 'Outside_data/')

'Outside_data/e3inb7voipg5l7be5csremp2py3xwv'

In [ ]:
fips_zip_csv = pd.read_csv('/Outside_data/ZIP-COUNTY-FIPS_2018-03.csv')
pd.DataFrame(fips_zip_csv)

UnicodeDecodeError: ignored

In [ ]:
def match_fip_zip(df1: dataframe, df2=None: dataframe) -> dataframe:
  '''Appends a 'Zip Code' column to a dataframe that has only a 'FIP code' column.
  
  In the original dataframe, each observation has a unique FIP code. For each FIP code,
  this function assembles a list of possible zip codes. It then builds the 'Zip Code' column
  by selecting a random Zip code from among the possible Zip codes and assigning it to be
  the Zip code corresponding to each respective FIP code.
  
  Args:
    Takes df1 and df2 as inputs
  
  Returns:
    Returns df1 with a 'Zip Code' column'''

  if df2 is None:
    df2 = pd.read_csv('https://query.data.world/s/e3inb7voipg5l7be5csremp2py3xwv')

  fips_intersection = set(df2['STCOUNTYFP']).intersection(set(df1['FIPS']))
  # Returns a dictionary with fips as keys and list of all zips for each fip as values
  zips_in_each_fip = {}
  fips_set = fips_intersection
  for fip in fips_set:
    zips_in_each_fip[fip] = list(df2[df2['STCOUNTYFP'] == fip]['ZIP'])
  
  # Reorder zips_in_each_fip dictionary so that FIP codes in dictionary have same
  # order as in df2
  dict_order = df2[df2['STCOUNTYFP'].isin(fips_intersection)]['STCOUNTYFP']
  dict_order = dict_order.tolist()
  zips_in_each_fip = {k: zips_in_each_fip[k] for k in dict_order}

  df1 = df1[df1['FIPS'].isin(fips_intersection)]
  # Randomly select zips for each fip
  lengths_of_lists = list(Counter(df1['FIPS']).values())
  np_ones = list(map(np.ones, lengths_of_lists))

  random_zip_codes = []
  for i, array in enumerate(np_ones):
    obj = random.choices(list(zips_in_each_fip.values())[i], k=len(array))
    random_zip_codes.append(np.array(obj))
  
  np_zips_concatenated = np.concatenate(random_zip_codes).astype(int)
  df1 = df1.assign(ZIPS = np_zips_concatenated)
  df1.rename(columns={'ZIPS': 'Zip Code'}, inplace=True)
  return df1

In [ ]:
sahie_df_working = match_fip_zip(sahie_df_working, fips_zip_df)
sahie_df_working

In [ ]:
ends_with_moe = sahie_df_working.columns.str.endswith('_moe')
ends_with_moe = sahie_df_working.iloc[:,ends_with_moe]

cols_to_drop = ['statefips', 'countyfips', 'state_name', 'county_name',
       'Unnamed: 25'] # Also "NIPR", "NUI", "NIC"?
cols_to_drop = cols_to_drop + list(ends_with_moe.columns)
sahie_df_working.drop(cols_to_drop, axis=1, inplace=True)
sahie_df_working

# list(map(lambda x: sahie_df_working[sahie_df_working[x] == 0], sahie_df_working.columns))

        year   version  geocat  agecat  ...  PCTELIG  PCTLIIC  merged_fips Zip Code
366     2019                50       0  ...      9.4     90.6         1001    36703
367     2019                50       0  ...      5.2     24.6         1001    36008
368     2019                50       0  ...      6.2     31.7         1001    36066
369     2019                50       0  ...      3.7     16.1         1001    36749
370     2019                50       0  ...      8.0     54.8         1001    36008
...      ...       ...     ...     ...  ...      ...      ...          ...      ...
320293  2019                50       5  ...      6.9     17.6        56045    82729
320294  2019                50       5  ...      8.7     24.0        56045    82729
320295  2019                50       5  ...      5.0     11.2        56045    82730
320296  2019                50       5  ...     12.3     43.2        56045    82715
320297  2019                50       5  ...      7.3     31.9        56045    82701

[301440 rows x 16 columns]

In [ ]:
### End of sahie_df dataframe cleaning

In [ ]:
food_env_path = 'Outside_data/FoodEnvironmentAtlas.zip (Unzipped Files)/StateAndCountyData.csv'
food_env_csv = pd.read_csv(food_env_path)
food_env_df_raw = pd.DataFrame(food_env_csv)
food_env_df_working = food_env_df_raw
food_env_df_working
#shoddy dumthicc

        FIPS State   County          Variable_Code          Value
0       1001    AL  Autauga          LACCESS_POP10   18428.439690
1       1001    AL  Autauga          LACCESS_POP15   17496.693040
2       1001    AL  Autauga  PCH_LACCESS_POP_10_15      -5.056026
3       1001    AL  Autauga      PCT_LACCESS_POP10      33.769657
4       1001    AL  Autauga      PCT_LACCESS_POP15      32.062255
...      ...   ...      ...                    ...            ...
852805    56    WY    Total  State_Population_2014  582548.000000
852806    56    WY    Total  State_Population_2015  585668.000000
852807    56    WY    Total  State_Population_2016  584290.000000
852808    56    WY    Total  State_Population_2017  578934.000000
852809    56    WY    Total  State_Population_2018  577737.000000

[852810 rows x 5 columns]

In [ ]:
unique_vars = np.unique(np.array(food_env_df_working['Variable_Code']))
fip_list = []
for var in unique_vars:
  fip_list.append(list(food_env_df_working[food_env_df_working['Variable_Code'] == var]['FIPS']))

# true_zips = functools.reduce(np.intersect1d, map(list, fip_list))
true_zips = set(fip_list[0]).intersection(*map(set, fip_list[1:]))
print(true_zips)

set()

In [ ]:
def revised_df_pivoter(df_in: dataframe) -> dataframe:
  '''Filters out implausible observation with non-county-level data and implausible 
  FIP codes. In dataframe this will be applied to, unique column names are one a row
  and cycle over and over down the row, as if those columns had been pivoted from being 
  columns of the dataframe to rows of the dataframe. The order of the columns in the 
  row is relatively consistent -- one column will not come before another in one instance 
  and after that other in another instance -- but in some instances, a column name is
  missing, and so the unique column names do not neatly cycle over and over down the row.
  The main part of this function pivots out the column data that is trapped in rows and 
  puts that data into columns whose names are the column names that were trapped. This 
  function creates a dictionary, and loops over the column names when they are present,
  which are the keys of the dictionary, and appends the corresponding 'Value' value to the 
  dictionary's values, and when the column's name isn't present during looping (because
  the columns in the row are otherwise ordered), the function appends an np.NaN. This
  function returns the original dataframe with the columns that were trapped in rows,
  pivoted out to be columns.
  
  Args:
    df_in
    
  Returns:
    df_in
  '''
  # Filter out implausible or undesirable values
  df_in = df_in[df_in['FIPS'] >= 1001]
  df_in = df_in[df_in['County'] != 'Total']

  unique_fips = list(np.unique(np.array(df_in['FIPS'])))
  unique_vars = list(np.unique(np.array(df_in['Variable_Code'])))
  header_list = list(df_in['Variable_Code'])
  value_list = list(df_in['Value'])
  # Creates a slimmed down dataframe with fundamental columns to append more onto
  base_df = df_in[['FIPS', 'State', 'County']].drop_duplicates()

  # Creates a dictionary where keys are column names - values are those that
  # correspond to the column if the value exists or np.NaN if it is missing
  k = 0
  header_dict = defaultdict(list)
  extended_names = len(unique_fips)*unique_vars
  for i, col in enumerate(extended_names):
    if (extended_names[i] == header_list[k]):
      header_dict[col].append(value_list[k])
      k += 1
    else:
      header_dict[col].append(np.NaN)

  # Creates dataframe out of the dictionary created above
  dict_df = pd.DataFrame.from_dict(header_dict)
  # Concatenates fundamental dataframe and the dataframe created out of the dictionary
  df_full = pd.concat([base_df, dict_df], axis=1)

  # Final cleaning
  df_full.dropna(axis=0, subset=['FIPS'], inplace=True)
  df_full = df_full[~df_full.County.str.contains('County', regex=True)]

  return df_full

revised_df_pivoter(food_env_df_working)

,FIPS,State,County,2010_Census_Population,AGRITRSM_OPS07,AGRITRSM_OPS12,AGRITRSM_RCT07,AGRITRSM_RCT12,BERRY_ACRES07,BERRY_ACRES12,...,VEG_ACRESPTH07,VEG_ACRESPTH12,VEG_FARMS07,VEG_FARMS12,VLFOODSEC_12_14,VLFOODSEC_15_17,WICS11,WICS16,WICSPTH11,WICSPTH16
0,1001.0,AL,Autauga,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,1003.0,AL,Baldwin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82,1005.0,AL,Barbour,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
123,1007.0,AL,Bibb,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
164,1009.0,AL,Blount,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
848922,51800.0,VA,Suffolk city,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
848931,51810.0,VA,Virginia Beach city,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
848940,51820.0,VA,Waynesboro city,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
848949,51830.0,VA,Williamsburg city,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
848958,51840.0,VA,Winchester city,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df_pivoted = revised_df_pivoter(df_in=food_env_df_working)

def col_row_na_filterer(df: dataframe, col_thresh=None: float, row_thresh=None: float) -> dataframe:
  '''Takes dataframe as input and filters out columns and rows with greater than 
  specified proportion of NAs.
  
  Args:
    df_in: dataframe

    col_thresh: float - filter out columns with more NAs than this float

    row_thresh: float - filter out rows with more NAs than this float
    
  Returns:
    df
  '''
  if row_thresh is not None:
    thresh = len(df.columns) - np.ceil(row_thresh*len(df.columns))
    df.dropna(thresh=thresh, inplace=True)

  cols_to_drop = []
  if col_thresh is not None:
    for col in df.columns:
      nas = df[col].isna()
      df_sub = df[nas]
      if ((len(list(df_sub[col].isna()))/len(list(df[col]))) > col_thresh):
        cols_to_drop.append(col)
        print("Dropped {}...".format(col))

    df.drop(cols_to_drop, axis=1, inplace=True)

  return df

col_row_na_filtered_df = col_row_na_filterer(df_pivoted, 0.999, 0.999)

Dropped 2010_Census_Population...
Dropped AGRITRSM_OPS07...
Dropped AGRITRSM_OPS12...
Dropped AGRITRSM_RCT07...
Dropped AGRITRSM_RCT12...
Dropped BERRY_ACRES07...
Dropped BERRY_ACRES12...
Dropped BERRY_ACRESPTH07...
Dropped BERRY_ACRESPTH12...
Dropped BERRY_FARMS07...
Dropped BERRY_FARMS12...
Dropped CHILDPOVRATE15...
Dropped CHIPSTAX_STORES14...
Dropped CHIPSTAX_VENDM14...
Dropped CH_FOODINSEC_14_17...
Dropped CH_VLFOODSEC_14_17...
Dropped CONVS11...
Dropped CONVS16...
Dropped CONVSPTH11...
Dropped CONVSPTH16...
Dropped CSA07...
Dropped CSA12...
Dropped DIRSALES07...
Dropped DIRSALES12...
Dropped DIRSALES_FARMS07...
Dropped DIRSALES_FARMS12...
Dropped FARM_TO_SCHOOL13...
Dropped FARM_TO_SCHOOL15...
Dropped FDPIR12...
Dropped FDPIR15...
Dropped FFR11...
Dropped FFR16...
Dropped FFRPTH11...
Dropped FFRPTH16...
Dropped FMRKT13...
Dropped FMRKT18...
Dropped FMRKTPTH13...
Dropped FMRKTPTH18...
Dropped FMRKT_ANMLPROD18...
Dropped FMRKT_BAKED18...
Dropped FMRKT_CREDIT18...
Dropped FMRKT_FRVEG18...
Dropped FMRKT_OTHERFOOD18...
Dropped FMRKT_SFMNP18...
Dropped FMRKT_SNAP18...
Dropped FMRKT_WIC18...
Dropped FMRKT_WICCASH18...
Dropped FOODHUB18...
Dropped FOODINSEC_12_14...
Dropped FOODINSEC_15_17...
Dropped FOOD_BANKS18...
Dropped FOOD_TAX14...
Dropped FRESHVEG_ACRES07...
Dropped FRESHVEG_ACRES12...
Dropped FRESHVEG_ACRESPTH07...
Dropped FRESHVEG_ACRESPTH12...
Dropped FRESHVEG_FARMS07...
Dropped FRESHVEG_FARMS12...
Dropped FSR11...
Dropped FSR16...
Dropped FSRPTH11...
Dropped FSRPTH16...
Dropped GHVEG_FARMS07...
Dropped GHVEG_FARMS12...
Dropped GHVEG_SQFT07...
Dropped GHVEG_SQFT12...
Dropped GHVEG_SQFTPTH07...
Dropped GHVEG_SQFTPTH12...
Dropped GROC11...
Dropped GROC16...
Dropped GROCPTH11...
Dropped GROCPTH16...
Dropped MEDHHINC15...
Dropped METRO13...
Dropped ORCHARD_ACRES07...
Dropped ORCHARD_ACRES12...
Dropped ORCHARD_ACRESPTH07...
Dropped ORCHARD_ACRESPTH12...
Dropped ORCHARD_FARMS07...
Dropped ORCHARD_FARMS12...
Dropped PCH_AGRITRSM_OPS_07_12...
Dropped PCH_AGRITRSM_RCT_07_12...
Dropped PCH_BERRY_ACRESPTH_07_12...
Dropped PCH_BERRY_ACRES_07_12...
Dropped PCH_BERRY_FARMS_07_12...
Dropped PCH_CACFP_12_17...
Dropped PCH_CONVSPTH_11_16...
Dropped PCH_CONVS_11_16...
Dropped PCH_CSA_07_12...
Dropped PCH_DIRSALES_07_12...
Dropped PCH_DIRSALES_FARMS_07_12...
Dropped PCH_FDPIR_12_15...
Dropped PCH_FFRPTH_11_16...
Dropped PCH_FFR_11_16...
Dropped PCH_FMRKTPTH_13_18...
Dropped PCH_FMRKT_13_18...
Dropped PCH_FRESHVEG_ACRESPTH_07_12...
Dropped PCH_FRESHVEG_ACRES_07_12...
Dropped PCH_FRESHVEG_FARMS_07_12...
Dropped PCH_FSRPTH_11_16...
Dropped PCH_FSR_11_16...
Dropped PCH_GHVEG_FARMS_07_12...
Dropped PCH_GHVEG_SQFTPTH_07_12...
Dropped PCH_GHVEG_SQFT_07_12...
Dropped PCH_GROCPTH_11_16...
Dropped PCH_GROC_11_16...
Dropped PCH_NSLP_12_17...
Dropped PCH_ORCHARD_ACRESPTH_07_12...
Dropped PCH_ORCHARD_ACRES_07_12...
Dropped PCH_ORCHARD_FARMS_07_12...
Dropped PCH_PC_DIRSALES_07_12...
Dropped PCH_PC_SNAPBEN_12_17...
Dropped PCH_PC_WIC_REDEMP_11_16...
Dropped PCH_RECFACPTH_11_16...
Dropped PCH_RECFAC_11_16...
Dropped PCH_REDEMP_SNAPS_12_17...
Dropped PCH_REDEMP_WICS_11_16...
Dropped PCH_SBP_12_17...
Dropped PCH_SFSP_12_17...
Dropped PCH_SLHOUSE_07_12...
Dropped PCH_SNAPSPTH_12_17...
Dropped PCH_SNAPS_12_17...
Dropped PCH_SNAP_12_17...
Dropped PCH_SPECSPTH_11_16...
Dropped PCH_SPECS_11_16...
Dropped PCH_SUPERCPTH_11_16...
Dropped PCH_SUPERC_11_16...
Dropped PCH_VEG_ACRESPTH_07_12...
Dropped PCH_VEG_ACRES_07_12...
Dropped PCH_VEG_FARMS_07_12...
Dropped PCH_WICINFANTCHILD_14_16...
Dropped PCH_WICSPTH_11_16...
Dropped PCH_WICS_11_16...
Dropped PCH_WICWOMEN_14_16...
Dropped PCH_WIC_12_17...
Dropped PCT_18YOUNGER10...
Dropped PCT_65OLDER10...
Dropped PCT_CACFP12...
Dropped PCT_CACFP17...
Dropped PCT_DIABETES_ADULTS08...
Dropped PCT_DIABETES_ADULTS13...
Dropped PCT_FMRKT_ANMLPROD18...
Dropped PCT_FMRKT_BAKED18...
Dropped PCT_FMRKT_CREDIT18...
Dropped PCT_FMRKT_FRVEG18...
Dropped PCT_FMRKT_OTHERFOOD18...
Dropped PCT_FMRKT_SFMNP18...
Dropped PCT_FMRKT_SNAP18...
Dropped PCT_FMRKT_WIC18...
Dropped PCT_FMRKT_WICCASH18...
Dropped PCT_FREE_LUNCH10...
Dropped PCT_FREE_LUNCH15...
Dropped PCT_HISP10...
Dropped PCT_HSPA17...
Dropped PCT_LOCLFARM07...
Dropped PCT_LOCLFARM12...
Dropped PCT_LOCLSALE07...
Dropped PCT_LOCLSALE12...
Dropped PCT_NHASIAN10...
Dropped PCT_NHBLACK10...
Dropped PCT_NHNA10...
Dropped PCT_NHPI10...
Dropped PCT_NHWHITE10...
Dropped PCT_NSLP12...
Dropped PCT_NSLP17...
Dropped PCT_OBESE_ADULTS12...
Dropped PCT_OBESE_ADULTS17...
Dropped PCT_REDUCED_LUNCH10...
Dropped PCT_REDUCED_LUNCH15...
Dropped PCT_SBP12...
Dropped PCT_SBP17...
Dropped PCT_SFSP12...
Dropped PCT_SFSP17...
Dropped PCT_SNAP12...
Dropped PCT_SNAP17...
Dropped PCT_WIC12...
Dropped PCT_WIC17...
Dropped PCT_WICINFANTCHILD14...
Dropped PCT_WICINFANTCHILD16...
Dropped PCT_WICWOMEN14...
Dropped PCT_WICWOMEN16...
Dropped PC_DIRSALES07...
Dropped PC_DIRSALES12...
Dropped PC_FFRSALES07...
Dropped PC_FFRSALES12...
Dropped PC_FSRSALES07...
Dropped PC_FSRSALES12...
Dropped PC_SNAPBEN12...
Dropped PC_SNAPBEN17...
Dropped PC_WIC_REDEMP11...
Dropped PC_WIC_REDEMP16...
Dropped PERCHLDPOV10...
Dropped PERPOV10...
Dropped POPLOSS10...
Dropped POVRATE15...
Dropped Population_Estimate_2011...
Dropped Population_Estimate_2012...
Dropped Population_Estimate_2013...
Dropped Population_Estimate_2014...
Dropped Population_Estimate_2015...
Dropped Population_Estimate_2016...
Dropped Population_Estimate_2017...
Dropped Population_Estimate_2018...
Dropped RECFAC11...
Dropped RECFAC16...
Dropped RECFACPTH11...
Dropped RECFACPTH16...
Dropped REDEMP_SNAPS12...
Dropped REDEMP_SNAPS17...
Dropped REDEMP_WICS11...
Dropped REDEMP_WICS16...
Dropped SLHOUSE07...
Dropped SLHOUSE12...
Dropped SNAPS12...
Dropped SNAPS17...
Dropped SNAPSPTH12...
Dropped SNAPSPTH17...
Dropped SNAP_BBCE09...
Dropped SNAP_BBCE16...
Dropped SNAP_CAP09...
Dropped SNAP_CAP16...
Dropped SNAP_OAPP09...
Dropped SNAP_OAPP16...
Dropped SNAP_PART_RATE11...
Dropped SNAP_PART_RATE16...
Dropped SNAP_REPORTSIMPLE09...
Dropped SNAP_REPORTSIMPLE16...
Dropped SODATAX_STORES14...
Dropped SODATAX_VENDM14...
Dropped SPECS11...
Dropped SPECS16...
Dropped SPECSPTH11...
Dropped SPECSPTH16...
Dropped SUPERC11...
Dropped SUPERC16...
Dropped SUPERCPTH11...
Dropped SUPERCPTH16...
Dropped VEG_ACRES07...
Dropped VEG_ACRES12...
Dropped VEG_ACRESPTH07...
Dropped VEG_ACRESPTH12...
Dropped VEG_FARMS07...
Dropped VEG_FARMS12...
Dropped VLFOODSEC_12_14...
Dropped VLFOODSEC_15_17...
Dropped WICS11...
Dropped WICS16...
Dropped WICSPTH11...
Dropped WICSPTH16...

In [ ]:
food_env_df = match_fip_zip(col_row_na_filtered_df, None)
food_env_df

,FIPS,State,County,LACCESS_BLACK15,LACCESS_CHILD10,LACCESS_CHILD15,LACCESS_CHILD_10_15,LACCESS_HHNV10,LACCESS_HHNV15,LACCESS_HISP15,...,PCT_LACCESS_NHASIAN15,PCT_LACCESS_NHNA15,PCT_LACCESS_NHPI15,PCT_LACCESS_POP10,PCT_LACCESS_POP15,PCT_LACCESS_SENIORS10,PCT_LACCESS_SENIORS15,PCT_LACCESS_SNAP15,PCT_LACCESS_WHITE15,Zip Code
0,1001.0,AL,Autauga,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,33.769657,32.062255,NaN,NaN,NaN,NaN,36051
41,1003.0,AL,Baldwin,NaN,NaN,NaN,NaN,275.060875,224.388125,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36549
82,1005.0,AL,Barbour,NaN,264.826077,264.140116,-0.259023,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36311
123,1007.0,AL,Bibb,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.388206,36792
164,1009.0,AL,Blount,NaN,NaN,NaN,NaN,NaN,NaN,80.773009,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35180
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
848922,51800.0,VA,Suffolk city,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,82902
848931,51810.0,VA,Virginia Beach city,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,83013
848940,51820.0,VA,Waynesboro city,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,82939
848949,51830.0,VA,Williamsburg city,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,82401
848958,51840.0,VA,Winchester city,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,82729

In [ ]:
write_csv(food_env_df)

Created file: "_.csv"
Suck-sess!

In [ ]:
### End of food_env_df cleaning

In [ ]:
abs_path = '/content/drive/MyDrive/Free time (Aaron Presser): Poverty prediction project (02 14 2022)/'
sapie_path = 'Outside_data/est20all.xls'

sapie_path = os.path.join(abs_path, sapie_path)
# xls = pd.ExcelFile(sapie_path)
# print(xls.sheet_names)

sapie_xls = pd.read_excel(sapie_path)
sapie_df_raw = pd.DataFrame(sapie_xls)
sapie_df_raw.columns = sapie_df_raw.iloc[2,:]
sapie_df_raw = sapie_df_raw.drop([0,1,2])
sapie_df_working = sapie_df_raw.reset_index(drop=True)
sapie_df_working

2,State FIPS Code,County FIPS Code,Postal Code,Name,"Poverty Estimate, All Ages",90% CI Lower Bound,90% CI Upper Bound,"Poverty Percent, All Ages",90% CI Lower Bound,90% CI Upper Bound,...,90% CI Upper Bound,Median Household Income,90% CI Lower Bound,90% CI Upper Bound,"Poverty Estimate, Age 0-4",90% CI Lower Bound,90% CI Upper Bound,"Poverty Percent, Age 0-4",90% CI Lower Bound,90% CI Upper Bound
0,00,000,US,United States,38371394,38309115,38433673,11.9,11.9,11.9,...,14.9,67340,67251,67429,3146325,3133736,3158914,16.8,16.7,16.9
1,01,000,AL,Alabama,714568,695249,733887,14.9,14.5,15.3,...,20.7,53958,53013,54903,66169,61541,70797,23.3,21.7,24.9
2,01,001,AL,Autauga County,6242,4930,7554,11.2,8.8,13.6,...,19.3,67565,59132,75998,.,.,.,.,.,.
3,01,003,AL,Baldwin County,20189,15535,24843,8.9,6.8,11,...,16.1,71135,66540,75730,.,.,.,.,.,.
4,01,005,AL,Barbour County,5548,4210,6886,25.5,19.3,31.7,...,47.2,38866,33510,44222,.,.,.,.,.,.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3190,56,037,WY,Sweetwater County,3187,2435,3939,7.6,5.8,9.4,...,10.1,70583,61835,79331,.,.,.,.,.,.
3191,56,039,WY,Teton County,1207,896,1518,5.2,3.9,6.5,...,5.4,92488,82976,102000,.,.,.,.,.,.
3192,56,041,WY,Uinta County,1697,1279,2115,8.5,6.4,10.6,...,11.7,71246,61861,80631,.,.,.,.,.,.
3193,56,043,WY,Washakie County,739,537,941,9.7,7,12.4,...,16.6,58532,50245,66819,.,.,.,.,.,.
3194,56,045,WY,Weston County,679,519,839,10.6,8.1,13.1,...,15.8,58901,50079,67723,.,.,.,.,.,.

In [ ]:
merged_fips = list(map(merge_fips, sapie_df_raw['State FIPS Code'].astype('str'), sapie_df_raw['County FIPS Code'].astype('str')))
sapie_df_working = sapie_df_working.assign(FIPS = merged_fips)
sapie_df_working['FIPS'] = sapie_df_working['FIPS'].apply(int)

sapie_columns = sapie_df_working.columns.tolist()
sapie_columns = [len(sapie_df_working.columns) - 1] + list(range(3, len(sapie_df_working.columns) - 1))
sapie_df_working = sapie_df_working.iloc[:,sapie_columns]

estimate_array = sapie_df_working.columns.str.contains('Estimate')
print(estimate_array)
new_estimate_array = np.zeros(len(estimate_array))
for i in range(len(estimate_array)):
  lim = 2
  if (i == True):
    for j in range(lim):
      np.insert(estimate_array, 0, False)
      np.delete(estimate_array, -1)

print(new_estimate_array)

[False False  True False False False False False  True False False False
 False False  True False False False False False False False False  True
 False False False False False]
[0. 1. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0.]

In [ ]:
def delete_col_and_three_after(df):
  cols_to_delete = []
  for col in df.columns:
    if col.match('Estimate'):
      cols_to_delete.extend(col.index, col.index + 1, col.index + 2)
  df.drop(cols_to_delete, axis=1, inplace=True)
  return df

In [ ]:
sapie_df_working['Name'].index

Int64Index([   3,    4,    5,    6,    7,    8,    9,   10,   11,   12,
            ...
            3188, 3189, 3190, 3191, 3192, 3193, 3194, 3195, 3196, 3197],
           dtype='int64', length=3195)

In [ ]:
sapie_df_working.columns = [sapie_columns[-1]] + sapie_columns[:-1]
sapie_df_working.drop(['State FIPS Code', 'County FIPS Code'], axis=1, inplace=True)

,FIPS,State FIPS Code,County FIPS Code,Postal Code,Name,"Poverty Estimate, All Ages",90% CI Lower Bound,90% CI Upper Bound,"Poverty Percent, All Ages",90% CI Lower Bound,...,90% CI Upper Bound,Median Household Income,90% CI Lower Bound,90% CI Upper Bound,"Poverty Estimate, Age 0-4",90% CI Lower Bound,90% CI Upper Bound,"Poverty Percent, Age 0-4",90% CI Lower Bound,90% CI Upper Bound
3,00,000,US,United States,38371394,38309115,38433673,11.9,11.9,11.9,...,67340,67251,67429,3146325,3133736,3158914,16.8,16.7,16.9,0
4,01,000,AL,Alabama,714568,695249,733887,14.9,14.5,15.3,...,53958,53013,54903,66169,61541,70797,23.3,21.7,24.9,1000
5,01,001,AL,Autauga County,6242,4930,7554,11.2,8.8,13.6,...,67565,59132,75998,.,.,.,.,.,.,1001
6,01,003,AL,Baldwin County,20189,15535,24843,8.9,6.8,11,...,71135,66540,75730,.,.,.,.,.,.,1003
7,01,005,AL,Barbour County,5548,4210,6886,25.5,19.3,31.7,...,38866,33510,44222,.,.,.,.,.,.,1005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3193,56,037,WY,Sweetwater County,3187,2435,3939,7.6,5.8,9.4,...,70583,61835,79331,.,.,.,.,.,.,56037
3194,56,039,WY,Teton County,1207,896,1518,5.2,3.9,6.5,...,92488,82976,102000,.,.,.,.,.,.,56039
3195,56,041,WY,Uinta County,1697,1279,2115,8.5,6.4,10.6,...,71246,61861,80631,.,.,.,.,.,.,56041
3196,56,043,WY,Washakie County,739,537,941,9.7,7,12.4,...,58532,50245,66819,.,.,.,.,.,.,56043
3197,56,045,WY,Weston County,679,519,839,10.6,8.1,13.1,...,58901,50079,67723,.,.,.,.,.,.,56045